<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/app-header.css">
        <title>Portfolio de Yohann</title>
        <link rel="icon" type="image/x-icon" href="../../images/favicon.svg">
    </head>
    <body>
        <div class="app-header finder-header">
            <div class="tab long apple">
                <div class="box">
                    <img src="../../images/icons/icon_mac.svg" alt="The Apple
                        logo."
                        />
                </div>
                <div class="container">
                    <div class="enabled">À propos de ce Mac</div>
                    <hr>
                    <div class="enabled">Réglages du système...</div>
                    <div class="enabled">App Store...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Éléments récents</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Forcer à quitter...</div>
                        <div class="symbols">&#8997; &#8984; &#9099;</div>
                    </div>
                    <hr>
                    <div class="enabled">Suspendre l'activité</div>
                    <div class="enabled">Redémarrer...</div>
                    <div class="enabled">Éteindre...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Vérouiller l'écran</div>
                        <div class="symbols">&#8963; &#8984; Q</div>
                    </div>
                    <div class="command enabled">
                        <div>Fermer la session Yohann D...</div>
                        <div class="symbols">&#8679; &#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Finder">
                    <p class="title app">Finder</p>
                </div>
                <div class="container">
                    <div class="enabled">À propos du Finder</div>
                    <hr>
                    <div class="command enabled">
                        <div>Réglages</div>
                        <div class="symbols">&#8984; ,</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Vider la corbeille</div>
                        <div class="symbols">&#8679; &#8984; &#9003;</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Services</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>

                    <hr>
                    <div class="command enabled">
                        <div>Masquer le Finder</div>
                        <div class="symbols">&#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer les autres</div>
                        <div class="symbols">&#8997; &#8984; H</div>
                    </div>

                    <div class="grey">Tout afficher</div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Fichier">
                    <p class="title">Fichier</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Nouvelle fenêtre Finder</div>
                        <div class="symbols">&#8997; &#8984; N</div>
                    </div>
                    <div class="command enabled">
                        <div>Nouveau dossier</div>
                        <div class="symbols">&#8679; &#8984; N</div>
                    </div>
                    <div class="command">
                        <div class="grey">Nouveau dossier avec selection</div>
                        <div class="symbols">&#8963; &#8984; N</div>
                    </div>
                    <div class="enabled">Nouveau dossier intelligent</div>
                    <div class="command enabled">
                        <div>Nouvel onglet</div>
                        <div class="symbols">&#8984; T</div>
                    </div>
                    <div class="command">
                        <div class="grey">Ouvrir</div>
                        <div class="symbols">&#8984; O</div>
                    </div>
                    <div class="command">
                        <div class="grey">Ouvrir avec</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow_grey.png"
                            alt="">
                    </div>
                    <div class="command">
                        <div class="grey">Fermer la fenêtre</div>
                        <div class="symbols">&#8984; W</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Lire les informations</div>
                        <div class="symbols">&#8984; I</div>
                    </div>
                    <div class="grey">Renommer</div>
                    <div class="grey">Compresser</div>
                    <div class="command">
                        <div class="grey">Dupliquer</div>
                        <div class="symbols">&#8984; D</div>
                    </div>
                    <div class="command">
                        <div class="grey">Créer un alias</div>
                        <div class="symbols">&#8963; &#8984; A</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coup d'oeil</div>
                        <div class="symbols">&#8984; Y</div>
                    </div>
                    <div class="command">
                        <div class="grey">Imprimer</div>
                        <div class="symbols">&#8984; P</div>
                    </div>
                    <hr>
                    <div class="grey"> Partager...</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Afficher l'original</div>
                        <div class="symbols">&#8984; R</div>
                    </div>
                    <div class="command">
                        <div class="grey">Ajouter au Dock</div>
                        <div class="symbols">&#8963; &#8679; &#8984; T</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Placer dans la corbeille</div>
                        <div class="symbols">&#8984; &#9003;</div>
                    </div>
                    <div class="command">
                        <div class="grey">Éjecter</div>
                        <div class="symbols">&#8984; E</div>
                    </div>
                    <hr>
                    <div class="colors">
                        <div class="color red"></div>
                        <div class="color orange"></div>
                        <div class="color yellow"></div>
                        <div class="color green"></div>
                        <div class="color blue"></div>
                        <div class="color purple"></div>
                        <div class="color grey"></div>
                    </div>
                    <div class="grey">Tags...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Rechercher</div>
                        <di class="symbols">&#8984; F</di>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Edition">
                    <p class="title">Édition</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Annuler</div>
                        <div class="symbols">&#8984; Z</div>
                    </div>
                    <div class="command">
                        <div class="grey">Rétablir</div>
                        <div class="symbols">&#8679; &#8984; Z</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Couper</div>
                        <div class="symbols">&#8984;</div>
                    </div>
                    <div class="command">
                        <div class="grey">Copier</div>
                        <div class="symbols">&#8984; C</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller</div>
                        <div class="symbols">&#8984; V</div>
                    </div>
                    <div class="command enabled">
                        <div>Tout sélectionner</div>
                        <div class="symbols">&#8984; A</div>
                    </div>
                    <hr>
                    <div class="enabled">Afficher le presse-papiers</div>
                    <hr>
                    <div class="command enabled">
                        <div>Démarrer la Dictée</div>
                        <div class="symbols">fn D</div>
                    </div>
                    <div class="command enabled">
                        <div>Emoji et symboles</div>
                        <div class="symbols">fn</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Presentation">
                    <p class="title">Présentation</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Par icônes</div>
                        <div class="symbols">&#8984; 1</div>
                    </div>
                    <div class="command">
                        <div class="grey">Par liste</div>
                        <div class="symbols">&#8984; 2</div>
                    </div>
                    <div class="command">
                        <div class="grey">Par colonnes</div>
                        <div class="symbols">&#8984; 3</div>
                    </div>
                    <div class="command">
                        <div class="grey">Par galerie d'icônes</div>
                        <div class="symbols">&#8984; 4</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Organiser en piles</div>
                        <div class="symbols">&#8963; &#8984; 0</div>
                    </div>
                    <div class="command enabled">
                        <div>Trier par</div>
                        <img src="../../images/icons/icon_right-arrow.png"
                            alt=""
                            class="right-arrow">
                    </div>
                    <div class="enabled">Aligner</div>
                    <div class="command enabled">
                        <div>Aligner par</div>
                        <img src="../../images/icons/icon_right-arrow.png"
                            alt=""
                            class="right-arrow">
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Masquer la barre latérale</div>
                        <div class="symbols">&#8963; &#8984; S</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher l'aperçu</div>
                        <div class="symbols">&#8679; &#8984; P</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Masquer la barre d'outils</div>
                        <div class="symbols">&#8997; &#8984; T</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher tous les onglets</div>
                        <div class="symbols">&#8679; &#8984; \</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher la barre d'onglets</div>
                        <div class="symbols">&#8679; &#8984; T</div>
                    </div>
                    <div class="command">
                        <div class="grey">Masquer la barre du chemin d'accès</div>
                        <div class="symbols">&#8997; &#8984; P</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher la barre d'état</div>
                        <div class="symbols">&#8984; /</div>
                    </div>
                    <hr>
                    <div class="grey">Personnaliser la barre d'outils...</div>
                    <div class="grey">Personnaliser la Touch Bar...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Afficher les options de présentation</div>
                        <div>&#8984; J</div>
                    </div>
                    <div class="grey">Afficher les options d'aperçu</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Activer le mode plein écran</div>
                        <div class="symbols">fn F</div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Aller">
                    <p class="title">Aller</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Précédent</div>
                        <div class="symbols">&#8984; [</div>
                    </div>
                    <div class="command">
                        <div class="grey">Suivant</div>
                        <div class="symbols">&#8984; ]</div>
                    </div>
                    <div class="command enabled">
                        <div>Dossier parent</div>
                        <di class="symbols">&#8984; &#8593;</di>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_recents.png"
                                alt="" style="width:20px; height: 20px;
                                margin-right: px; margin-left: -2px;">
                            <div>Récents</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; F</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_documents.png"
                                alt="">
                            <div>Documents</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; O</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_desktop.png"
                                alt="" style="width: 16x; height: 16px">
                            <div>Bureau</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; D</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_downloads.png"
                                alt="" style="width: 20px; height: 20px;
                                margin-right: 2px; margin-left: -2px;">
                            <div>Téléchargements</div>
                        </div>
                        <div class="symbols">&#8997; &#8984; L</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_home.svg" alt=""
                                style="width: 14px; height: 14px; margin-right:
                                6px; margin-left: 0;">
                            <div>Départ</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_laptop.png"
                                alt="">
                            <div>Ordinateur</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; C</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_airdrop.png"
                                alt="" style="width:20px; height: 20px;
                                margin-right: 2px; margin-left: -2px;">
                            <div>AirDrop</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; R</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_network.png"
                                alt="" style="width:16px; height: 16px;
                                margin-right: 4px; margin-left: 0;">
                            <div>Réseau</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; K</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_icloud.png"
                                alt="">
                            <div>iCloud Drive</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; I</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_folder.png" alt=""
                                style="width: 16px; height: 16px">
                            <div>Partagé</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; S</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_applications.png"
                                alt="" style="width: 16px; height: 16px">
                            <div>Applications</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; A</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_utilitaires.png"
                                alt="" style="width: 16px; height: 16px">
                            <div>Utilitaires</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; U</div>
                    </div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_folder.png" alt=""
                                style="width: 16px; height: 16px">
                            <div>Google Drive</div>
                        </div>
                        <div class="symbols">&#8679; &#8984; F</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Dossiers récents</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Aller au dossier...</div>
                        <div class="symbols">&#8679; &#8984; G</div>
                    </div>
                    <div class="command enabled">
                        <div>Se connecter au serveur...</div>
                        <div class="symbols">&#8984; K</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Fenetre">
                    <p class="title">Fenêtre</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Minimiser</div>
                        <div class="symbols">&#8984; M</div>
                    </div>
                    <div class="grey">Réduire/agrandir</div>
                    <div class="grey">Déplacer la fenêtre vers la gauche de
                        l'écran</div>
                    <div class="grey">Déplacer la fenêtre vers la droite de
                        l'écran</div>
                    <div class="grey">Remplacer la fenêtre en mosaïque</div>
                    <hr>
                    <div class="grey">Supprimer la fenêtre du groupe</div>
                    <div class="command">
                        <div class="grey">Faire défiler les fenêtres</div>
                        <div class="symbols">&#8984; `</div>
                    </div>
                    <div class="grey">Afficher la fenêtre de progression</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Afficher l'onglet précédent</div>
                        <div class="symbols">&#8963; &#8679; &#8677;</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher l'onglet suivant</div>
                        <div class="symbols">&#8963; &#8677;</div>
                    </div>
                    <div class="grey">Placer l'onglet dans une nouvelle fenêtre</div>
                    <div class="grey">Fusionner toutes les fenêtres</div>
                    <hr>
                    <div class="enabled">Tout ramener au premier plan</div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Aide">
                    <p class="title">Aide</p>
                </div>
                <div class="container">
                    <input type="text" placeholder="Recherche">
                    <div class="enabled">Astuces pour votre Mac</div>
                    <div class="enabled">Aide MacOS</div>
                </div>
            </div>
        </div>
        <script src="../../scripts/app-header.js"></script>
    </body>
</html>