<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/app-header.css">
    </head>
    <body>
        <div class="app-header mail-header">
            <div class="tab long apple">
                <div class="box">
                    <img src="../../images/icons/icon_mac.svg" alt="The Apple
                        logo."
                        />
                </div>
                <div class="container">
                    <div class="enabled">À propos de ce Mac</div>
                    <hr>
                    <div class="enabled">Réglages du système...</div>
                    <div class="enabled">App Store...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Éléments récents</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Forcer à quitter...</div>
                        <div class="symbols">&#8997; &#8984; &#9099;</div>
                    </div>
                    <hr>
                    <div class="enabled">Suspendre l'activité</div>
                    <div class="enabled">Redémarrer...</div>
                    <div class="enabled">Éteindre...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Vérouiller l'écran</div>
                        <div class="symbols">&#8963; &#8984; Q</div>
                    </div>
                    <div class="command enabled">
                        <div>Fermer la session Yohann D...</div>
                        <div class="symbols">&#8679; &#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Mail">
                    <p class="title app">Mail</p>
                </div>
                <div class="container">
                    <div class="enabled">À propos de Mail</div>
                    <hr>
                    <div class="command enabled">
                        <div>Réglages...</div>
                        <div class="symbols">&#8984; ,</div>
                    </div>
                    <div class="enabled">Comptes...</div>
                    <hr>
                    <div class="enabled">Ajouter un compte...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Service</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer Mail</div>
                        <div class="symbols">&#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer les autres</div>
                        <div class="symbols">&#8997; &#8984; H</div>
                    </div>
                    <div class="enabled">Tout afficher</div>
                    <hr>
                    <div class="command enabled">
                        <div>Quitter Mail</div>
                        <div class="symbols">&#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Fichier">
                    <p class="title">Fichier</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Nouveau message</div>
                        <div class="symbols">&#8984; N</div>
                    </div>
                    <div class="command enabled">
                        <div>Nouvelle fenêtre</div>
                        <div class="symbols">&#8997; &#8984; N</div>
                    </div>
                    <div class="command">
                        <div class="grey">Ouvrir le message</div>
                        <div class="symbols">&#8984; O</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Enregistrer</div>
                        <div class="symbols">&#8984; S</div>
                    </div>
                    <div class="command enabled">
                        <div>Enregistrer sous...</div>
                        <div class="symbols">&#8679; &#8984; S</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Joindre des fichiers...</div>
                        <div class="symbols">&#8679; &#8984; A</div>
                    </div>
                    <div class="grey">Enregistrer les pièces jointes...</div>
                    <div class="grey">Insérer depuis l'iPhone ou l'iPad</div>
                    <div class="command">
                        <div class="grey">Coup d'&oelig;il sur les pièces jointes...</div>
                        <div class="symbols">&#8984; Y</div>
                    </div>
                    <hr>
                    <div class="enabled">Importer des boîtes aux lettres...</div>
                    <hr>
                    <div class="grey">Exporter au format PDF...</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Imprimer...</div>
                        <div class="symbols">&#8984; P</div>
                    </div>
                </div>

            </div>
            <div class="tab long">
                <div class="box" id="Edition">
                    <p class="title">Édition</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Annuler</div>
                        <div class="symbols">&#8984; Z</div>
                    </div>
                    <div class="command">
                        <div class="grey">Rétablir</div>
                        <div class="symbols">&#8679; &#8984; Z</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Couper</div>
                        <div class="symbols">&#8984; X</div>
                    </div>
                    <div class="command">
                        <div class="grey">Copier</div>
                        <div class="symbols">&#8984; C</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller</div>
                        <div class="symbols">&#8984; V</div>
                    </div>
                    <div class="command">
                        <div class="grey">Supprimer</div>
                        <div class="symbols">&#8984; &#9003;</div>
                    </div>
                    <div class="command enabled">
                        <div>Tout sélectionner</div>
                        <div class="symbols">&#8984; A</div>
                    </div>
                    <div class="command">
                        <div class="grey">Compléter</div>
                        <div class="symbols">&#8997; &#9099;</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Coller comme citation</div>
                        <div class="symbols">&#8679; &#8984; V</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller et adapter le style</div>
                        <div class="symbols">&#8997; &#8679; &#8984; V</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Ajouter les messages sélectionnés</div>
                        <div class="symbols">&#8997; &#8984; I</div>
                    </div>
                    <div class="command">
                        <div class="grey">Ajouter un lien...</div>
                        <div class="symbols">&#8984; K</div>
                    </div>
                    <div class="command enabled">
                        <div>Pièces jointes</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Pièces jointes dans les réponses</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Rechercher</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Orthographe et grammaire</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Substitutions</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Transformations</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Paroles</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Démarrer Dictée</div>
                        <div class="symbols">fn D</div>
                    </div>
                    <div class="command enabled">
                        <div>Emoji et symboles</div>
                        <div class="symbols">fn</div>
                    </div>
                </div>
            </div>
            <div class="tab extralong ticked">
                <div class="box" id="Presentation">
                    <p class="title">Présentation</p>
                </div>
                <div class="container">
                    <div class="enabled">Afficher la barre d'onglets</div>
                    <div class="enabled">Afficher tous les onglets</div>
                    <hr>
                    <div class="grey">Personnaliser la Touch Bar</div>
                    <hr>
                    <div class="command enabled">
                        <div>Trier par</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Filtrer</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="enabled">Utiliser la présentation</div>
                    <div class="enabled">Afficher un aperçu en bas</div>
                    <div class="enabled">Afficher la date et l'heure</div>
                    <div class="enabled">Afficher l'étiquette À/Cc</div>
                    <div class="enabled">Afficher la taille du message</div>
                    <div class="enabled">Afficher la photo du contact</div>
                    <hr>
                    <div class="enabled">Mettre les conversations en surbrillance</div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_tick.png" alt="" class="tick">
                            <div>Organiser par conversation</div>
                        </div>
                    </div>
                    <div class="enabled">Développer toutes les conversations</div>
                    <div class="enabled">Condenser toutes les conversations</div>
                    <hr>
                    <div class="enabled">Champ Cc</div>
                    <div class="command enabled">
                        <div>Champ Cci</div>
                        <div class="symbols">&#8997; &#8984; B</div>
                    </div>
                    <div class="command enabled">
                        <div>Champ Répondre à</div>
                        <div class="symbols">&#8997; &#8984; R</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Message</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="grey">Masquer les messages associés</div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer la barre latérale</div>
                        <div class="symbols">&#8963; &#8984; S</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer la barre d'outils</div>
                        <div class="symbols">&#8997; &#8984; T</div>
                    </div>
                    <div class="enabled">Personnaliser la barre d'outils...</div>
                    <div class="command enabled">
                        <div>Afficher la barre des favoris</div>
                        <div class="symbols">&#8997; &#8679; &#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Activer le mode plein écran</div>
                        <div class="symbols">fn F</div>
                    </div>
                </div>
            </div>
            <div class="tab extralong">
                <div class="box" id="Inbox">
                    <p class="title">Boîte aux lettres</p>
                </div>
                <div class="container">
                    <div class="grey">Connecter tous les comptes</div>
                    <div class="enabled">Déconnecter tous les comptes</div>
                    <div class="command enabled">
                        <div>Relever tout le courrier</div>
                        <div class="symbols">&#8679; &#8984; N</div>
                    </div>
                    <div class="enabled">Synchroniser tous les comptes</div>
                    <div class="enabled">Marquer tous les messages comme lus</div>
                    <div class="command enabled">
                        <div>État des connexions</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Relever le courrier</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Synchroniser</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Éffacer les élément supprimés</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Éffacer le courrier indésirable</div>
                        <div class="symbols">&#8997; &#8984; J</div>
                    </div>
                    <hr>
                    <div class="enabled">Nouvelle boîte aux lettres....</div>
                    <div class="enabled">Nouvelle boîte aux lettres intelligente...</div>
                    <div class="grey">Modifier la boîte aux lettres intelligente...</div>
                    <div class="grey">Dupliquer la boîte aux lettres intelligente</div>
                    <div class="enabled">Nouveau dossier de boîte aux lettres intelligente...</div>
                    <div class="grey">Renommer la boîte aux lettres...</div>
                    <div class="grey">Supprimer la boîte aux lettres...</div>
                    <div class="enabled">Exporter la boîte aux lettres...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Passer à la boîte aux lettres favorite</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Déplacer dans la boîte aux lettre favorite</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Aller à la boîte précédente</div>
                        <div class="symbols">&#8963; &#8984; [</div>
                    </div>
                    <div class="command enabled">
                        <div>Aller à la boîte suivante</div>
                        <div class="symbols">&#8963; &#8984; ]</div>
                    </div>
                    <hr>
                    <div class="enabled">Reconstruire</div>
                </div>
            </div>
            <div class="tab extralong">
                <div class="box" id="Message">
                    <p class="title">Messages</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Envoyer à nouveau</div>
                        <div class="symbols">&#8679; &#8984; D</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Répondre</div>
                        <div class="symbols">&#8984; R</div>
                    </div>
                    <div class="command">
                        <div class="grey">Répondre à tous</div>
                        <div class="symbols">&#8679; &#8984; R</div>
                    </div>
                    <div class="command">
                        <div class="grey">Réexpédier</div>
                        <div class="symbols">&#8679; &#8984; F</div>
                    </div>
                    <div class="grey">Réexpédier en tant que pièce jointe</div>
                    <div class="command">
                        <div class="grey">Rediriger</div>
                        <div class="symbols">&#8679; &#8984; E</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Rappel</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="grey">Ignorer le suivi</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Marquer comme non lu</div>
                        <div class="symbols">&#8679; &#8984; U</div>
                    </div>
                    <div class="command">
                        <div class="grey">Déplacer vers indésirables</div>
                        <div class="symbols">&#8679; &#8984; J</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher</div>
                        <div class="symbols">&#8963; &#8679; M</div>
                    </div>
                    <div class="command enabled">
                        <div>Drapeau</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Définir la priorité</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Archiver</div>
                        <div class="symbols">&#8963; &#8984; A</div>
                    </div>
                    <div class="command">
                        <div class="grey">Déplacer vers la boîte aux lettres prédite</div>
                        <div class="symbols">&#8963; &#8984; M</div>
                    </div>
                    <div class="command">
                        <div class="grey">Déplacer vers</div>
                        <img src="../../images/icons/icon_right-arrow_grey.png" alt="" class="right-arrow">
                    </div>
                    <div class="command">
                        <div class="grey">Copier dans</div>
                        <img src="../../images/icons/icon_right-arrow_grey.png" alt="" class="right-arrow">
                    </div>
                    <div class="grey">Déplacer à nouveau</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Appliquer les règles</div>
                        <div class="symbols">&#8997; &#8984; L</div>
                    </div>
                    <div class="grey">Ajouter le destinataire aux contacts</div>
                    <hr>
                    <div class="grey">Supprimer les pièces jointes</div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Format">
                    <p class="title">Format</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Afficher les polices</div>
                        <div class="symbols">&#8984; T</div>
                    </div>
                    <div class="command enabled">
                        <div>Afficher les couleurs</div>
                        <div class="symbols">&#8679; &#8984; C</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Listes</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Style</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Alignement</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Indentation</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Niveau de citation</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Convertir au format texte enrichi</div>
                        <div class="symbols">&#8679; &#8984; T</div>
                    </div>
                </div>
            </div>
            <div class="tab long ticked">
                <div class="box" id="Fenetre">
                    <p class="title">Fenêtre</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Minimiser</div>
                        <div class="symbols">&#8984; M</div>
                    </div>
                    <div class="enabled">Réduire/agrandir</div>
                    <div class="enabled">Placer la fenêtre à gauche de l'écran</div>
                    <div class="enabled">Placer la fenêtre à droite de l'écran</div>
                    <div class="grey">Remplacer la fenêtre en mosaïque</div>
                    <hr>
                    <div class="grey">Supprimer la fenêtre du groupe</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Afficher l'onglet précédent</div>
                        <div class="symbols">&#8963; &#8679; &#8677;</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher l'onglet suivant</div>
                        <div class="symbols">&#8963; &#8677;</div>
                    </div>
                    <div class="grey">Placer l'onglet dans une nouvelle fenêtre</div>
                    <div class="grey">Fusionner toutes les fenêtres</div>
                    <hr>
                    <div class="command enabled">
                        <div>Fenêtre de messages</div>
                        <div class="symbols">&#8984; 0</div>
                    </div>
                    <hr>
                    <div class="enabled">Navigateur photos</div>
                    <div class="enabled">Destinataires précédents</div>
                    <hr>
                    <div class="command enabled">
                        <div>Activité</div>
                        <div class="symbols">&#8997; &#8984; 0</div>
                    </div>
                    <div class="enabled">Diagnostic de connexion</div>
                    <hr>
                    <div class="grey">Tout ramener au premier plan</div>
                    <hr>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_tick.png" alt="" class="tick">
                            <div>Toutes les boîtes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Aide">
                    <p class="title">Aide</p>
                </div>
                <div class="container">
                    <input type="text" placeholder="Recherche">
                    <div class="enabled">Aide Mail</div>
                    <hr>
                    <div class="enabled">Nouveautés de Mail</div>
                </div>
            </div>
        </div>
        <script src="../../scripts/app-header.js"></script>
    </body>
</html>