<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/app-header.css">
    </head>
    <body>
        <div class="app-header notes-header">
            <div class="tab long apple">
                <div class="box">
                    <img src="../../images/icons/icon_mac.svg" alt="The Apple
                        logo."
                        />
                </div>
                <div class="container">
                    <div class="enabled">À propos de ce Mac</div>
                    <hr>
                    <div class="enabled">Réglages du système...</div>
                    <div class="enabled">App Store...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Éléments récents</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Forcer à quitter...</div>
                        <div class="symbols">&#8997; &#8984; &#9099;</div>
                    </div>
                    <hr>
                    <div class="enabled">Suspendre l'activité</div>
                    <div class="enabled">Redémarrer...</div>
                    <div class="enabled">Éteindre...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Vérouiller l'écran</div>
                        <div class="symbols">&#8963; &#8984; Q</div>
                    </div>
                    <div class="command enabled">
                        <div>Fermer la session Yohann D...</div>
                        <div class="symbols">&#8679; &#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="App">
                    <p class="title app">Notes</p>
                </div>
                <div class="container">
                    <div class="enabled">À propos de Notes</div>
                    <hr>
                    <div class="command enabled">
                        <div>Réglages...</div>
                        <div class="symbols">&#8984; ,</div>
                    </div>
                    <div class="enabled">Comptes...</div>
                    <hr>
                    <div class="grey">Fermer toutes les notes verrouillées</div>
                    <hr>
                    <div class="command enabled">
                        <div>Services</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer Notes</div>
                        <div class="symbols">&#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer les autres</div>
                        <div class="symbols">&#8997; &#8984; H</div>
                    </div>
                    <div class="grey">Tout afficher</div>
                    <hr>
                    <div class="command enabled">
                        <div>Quitter Notes</div>
                        <div class="symbols">&#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab extraextralong">
                <div class="box" id="Fichier">
                    <p class="title">Fichier</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Nouvelle note</div>
                        <div class="symbols">&#8984; N</div>
                    </div>
                    <div class="command enabled">
                        <div>Nouveau dossier</div>
                        <div class="symbols">&#8679; &#8984; N</div>
                    </div>
                    <div class="enabled">Nouveau dossier intelligent</div>
                    <hr>
                    <div class="command enabled">
                        <div>Partager</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="grey">Nouveau dossier intelligent avec sélection de tags</div>
                    <div class="enabled">Convertir le dossier en dossier intelligent</div>
                    <hr>
                    <div class="command enabled">
                        <div>Fermer</div>
                        <div class="symbols">&#8984; W</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Importer depuis l'iPhone</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="enabled">Importer dans Notes...</div>
                    <hr>
                    <div class="enabled">Exporter au format PDF...</div>
                    <hr>
                    <div class="enabled">Épingler la Note</div>
                    <div class="enabled">Verrouiller la Note</div>
                    <div class="command enabled">
                        <div>Dupliquer la note</div>
                        <div class="symbols">&#8984; D</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Imprimer...</div>
                        <div class="symbols">&#8984; P</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Edition">
                    <p class="title">Édition</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Annuler</div>
                        <div class="symbols">&#8984; Z</div>
                    </div>
                    <div class="command">
                        <div class="grey">Rétablir</div>
                        <div class="symbols">&#8679; &#8984; Z</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Couper</div>
                        <div class="symbols">&#8984; X</div>
                    </div>
                    <div class="command">
                        <div class="grey">Copier</div>
                        <div class="symbols">&#8984; C</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller</div>
                        <div class="symvols">&#8984; V</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller et adapter le style</div>
                        <div class="symbols">&#8997; &#8679; &#8984; V</div>
                    </div>
                    <div class="grey">Coller et conserer le style</div>
                    <div class="command enabled">
                        <div>Supprimer la note</div>
                        <div class="symbols">&#9003;</div>
                    </div>
                    <div class="grey">Renommer</div>
                    <div class="command enabled">
                        <div>Tout sélectionner</div>
                        <div class="symbols">&#8984; A</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Joindre un fichier...</div>
                        <div class="symbols">&#8679; &#8984; A</div>
                    </div>
                    <div class="command">
                        <div class="grey">Ajouter un lien...</div>
                        <div class="symbols">&#8984; K</div>
                    </div>
                    <div class="grey">Renommer la pièce jointe...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Rechercher</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Orthographe et grammaire</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Substitutions</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Transformations</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Parole</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Démarrer Dictée</div>
                        <div class="symbols">fn D</div>
                    </div>
                    <div class="command enabled">
                        <div>Emoji et symboles</div>
                        <div class="symbols">fn</div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Format">
                    <p class="title">Format</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Titre</div>
                        <div class="symbols">&#8679; &#8984; T</div>
                    </div>
                    <div class="command">
                        <div class="grey">Sous-titre</div>
                        <div class="symbols">&#8679; &#8984; H</div>
                    </div>
                    <div class="command">
                        <div class="grey">Titre secondaire</div>
                        <div class="symbols">&#8679; &#8984; J</div>
                    </div>
                    <div class="command">
                        <div class="grey">Corps</div>
                        <div class="symbols">&#8679; &#8984; B</div>
                    </div>
                    <div class="command">
                        <div class="grey">Monochasse</div>
                        <div class="symbols">&#8679; &#8984; M</div>
                    </div>
                    <div class="command">
                        <div class="grey">Liste à puces</div>
                        <div class="symbols">&#8679; &#8984; 7</div>
                    </div>
                    <div class="command">
                        <div class="grey">Listes à tirets</div>
                        <div class="symbols">&#8679; &#8984; 8</div>
                    </div>
                    <div class="command">
                        <div class="grey">Liste numérotée</div>
                        <div class="symbols">&#8679; &#8984; 9</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Liste de pointage</div>
                        <div class="symbols">&#8679; &#8984; L</div>
                    </div>
                    <div class="command">
                        <div class="grey">Cocher</div>
                        <div class="symbols">&#8679; &#8984; U</div>
                    </div>
                    <div class="command enabled">
                        <div>Plus</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Déplacer l'élément de liste</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command">
                        <div class="grey">Tableau</div>
                        <div class="symbols">&#8997; &#8984; T</div>
                    </div>
                    <div class="grey">Convertir en texte</div>
                    <hr>
                    <div class="command enabled">
                        <div>Police</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Texte</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Indentation</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                </div>
            </div>
            <div class="tab long ticked">
                <div class="box" id="Presentation">
                    <p class="title">Présentation</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_tick.png" alt="" class="tick">
                            <div>Par liste</div>
                        </div>
                        <div class="symbols">&#8984; 1</div>
                    </div>
                    <div class="command enabled">
                        <div>Par galerie</div>
                        <div class="symbols">&#8984; 2</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Trier par</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Grouper par date</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer les dossiers</div>
                        <div class="symbols">&#8997; &#8984; S</div>
                    </div>
                    <div class="enabled">Masquer le nombre de notes</div>
                    <hr>
                    <div class="command enabled">
                        <div>Afficher le navigateur de pièces jointes</div>
                        <div class="symbols">&#8984; 3</div>
                    </div>
                    <div class="grey">Afficher dans la note</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Afficher les surlignages</div>
                        <div class="symbols">&#8963; &#8984; I</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher l'activité de la note</div>
                        <div class="symbols">&#8963; &#8984; K</div>
                    </div>
                    <div class="grey">Afficher l'activité du dossier</div>
                    <hr>
                    <div class="command enabled">
                        <div>Agrandir</div>
                        <div class="symbols">&#8679; &#8984; .</div>
                    </div>
                    <div class="command enabled">
                        <div>Réduire</div>
                        <div class="symbols">&#8679; &#8984; ,</div>
                    </div>
                    <div class="command enabled">
                        <div>Taille réelle</div>
                        <div class="symbols">&#8679; &#8984; 0</div>
                    </div>
                    <hr>
                    <div class="enabled">Masquer la barre d'outils</div>
                    <div class="enabled">Personnaliser la barre d'outils...</div>
                    <div class="grey">Personnaliser la Touch Bar...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Activer le mode plein écran</div>
                        <div class="symbols">fn F</div>
                    </div>
                </div>
            </div>
            <div class="tab extralong">
                <div class="box" id="Fenetre">
                    <p class="title">Fenêtre</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Minimiser</div>
                        <div class="symbols">&#8984; M</div>
                    </div>
                    <div class="command enabled">
                        <div>Réduire/agrandir</div>
                        <div class="symbols">&#8963; &#8984; Z</div>
                    </div>
                    <div class="enabled">Placer la fenêtre à gauche de l'écran</div>
                    <div class="enabled">Placer la fenêtre à droite de l'écran</div>
                    <div class="grey">Remplacer la fenêtre en mosaïque</div>
                    <hr>
                    <div class="grey">Supprimer la fenêtre du groupe</div>
                    <div class="enabled">Ouvrir la note dans une nouvelle fenêtre</div>
                    <hr>
                    <div class="command enabled">
                        <div>Notes</div>
                        <div class="symbols">&#8984; 0</div>
                    </div>
                    <div class="enabled">Navigateur de photos</div>
                    <hr>
                    <div class="grey">Tout ramener au premier plan</div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Aide">
                    <p class="title">Aide</p>
                </div>
                <div class="container">
                    <input type="text" placeholder="Recherche">
                    <div class="enabled">Aide Notes</div>
                    <hr>
                    <div class="enabled">Utilisation de tags</div>
                    <div class="enabled">Utilisation de dossiers intelligents</div>
                </div>
            </div>
        </div>
        <script src="../../scripts/app-header.js"></script>
    </body>
</html>