<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/app-header.css">
    </head>
    <body>
        <div class="app-header vscode-header">
            <div class="tab long apple">
                <div class="box">
                    <img src="../../images/icons/icon_mac.svg" alt="The Apple
                        logo."
                        />
                </div>
                <div class="container">
                    <div class="enabled">À propos de ce Mac</div>
                    <hr>
                    <div class="enabled">Réglages du système...</div>
                    <div class="enabled">App Store...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Éléments récents</div>
                        <img class="rightarrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Forcer à quitter...</div>
                        <div class="symbols">&#8997; &#8984; &#9099;</div>
                    </div>
                    <hr>
                    <div class="enabled">Suspendre l'activité</div>
                    <div class="enabled">Redémarrer...</div>
                    <div class="enabled">Éteindre...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Vérouiller l'écran</div>
                        <div class="symbols">&#8963; &#8984; Q</div>
                    </div>
                    <div class="command enabled">
                        <div>Fermer la session Yohann D...</div>
                        <div class="symbols">&#8679; &#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box title">
                    <p class="title app">Code</p>
                </div>
                <div class="container">
                    <div class="enabled">À propos de Visual Studio Code</div>
                    <div class="enabled">Rechercher les mises à jour...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Réglages...</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="rightarrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Servies</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="rightarrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer Visual Studio Code</div>
                        <div class="symbols">&#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer les autres</div>
                        <div class="symbols">&#8997; &#8984; H</div>
                    </div>
                    <div class="grey">Afficher tout</div>
                    <hr>
                    <div class="command enabled">
                        <div>Quitter Visual Studio Code</div>
                        <div class="symbols">&#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Fichier">
                    <p class="title">Fichier</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Nouveau fichier texte</div>
                        <div class="symbols">&#8984; N</div>
                    </div>
                    <div class="command">
                        <div class="grey">Nouveau fichier...</div>
                        <div class="symbols">&#8963; &#8997; &#8984; N</div>
                    </div>
                    <div class="command enabled">
                        <div>Nouvelle fenêtre</div>
                        <div class="symbols">&#8679; &#8984; N</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Ouvrir...</div>
                        <div class="symbols">&#8984; O</div>
                    </div>
                    <div class="enabled">Ouvrir le dossier...</div>
                    <div class="enabled">Ourir l'espace de travail à partir du fichier...</div>
                    <div class="command enabled">
                        <div>Ouvrir les éléments récents</div>
                        <img src="../../images/icons/icon_right-arrow.png" alt="" class="rightarrow">
                    </div>
                    <hr>
                    <div class="grey">Ajouter un dossier à l'espace de travail...</div>
                    <div class="grey">Enregistrer l'espace de travail sous...</div>
                    <div class="grey">Dupliquer l'espace de travail</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Enregistrer</div>
                        <div class="symbols">&#8984; S</div>
                    </div>
                    <div class="command">
                        <div class="grey">Enregistrer sous...</div>
                        <div class="symbols">&#8679; &#8984; S</div>
                    </div>
                    <div class="command"></div>
                </div>
            </div>
        </div>
        <script src="../../scripts/app-header.js"></script>
    </body>
</html>