body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.mic-div:hover .tooltip-text {
    visibility: hidden;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.172);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1
}

.mic-div:hover .tooltip-text {
    visibility: visible;
}