.language {
    display: flex;
    justify-content: center;
    margin: -32px;
}

.offer {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
}

.offer a {
    text-decoration: none;
}

.offer a:hover {
    text-decoration: underline;
}

.france {
    display: block;
    position: fixed;
    bottom: 48px;
    right: 0;
    left: 0;
    background-color: rgb(242, 242, 242);
    color: grey;
    font-size: 15px;
    padding: 15px 30px;
}


.information {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: rgb(242, 242, 242);
    color: grey;
}

.information-section {
    display: flex;
    flex-flow: nowrap row;
    flex: 1;
    padding: 0 20px 0;
    flex-shrink: 0;
    justify-content: space-between;

}
.info-left, .info-right {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.info-left p, .info-right p {
    font-size: 14px;
    padding: 15px;
    flex-wrap: nowrap;
}

.info-left :hover, .info-right p:hover {
    text-decoration: underline;
    cursor: pointer;
}