<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/app-header.css">
    </head>
    <body>
        <div class="app-header setting-header">
            <div class="tab long apple">
                <div class="box">
                    <img src="../../images/icons/icon_mac.svg" alt="The Apple
                        logo."
                        />
                </div>
                <div class="container">
                    <div class="enabled">À propos de ce Mac</div>
                    <hr>
                    <div class="enabled">Réglages du système...</div>
                    <div class="enabled">App Store...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Éléments récents</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Forcer à quitter...</div>
                        <div class="symbols">&#8997; &#8984; &#9099;</div>
                    </div>
                    <hr>
                    <div class="enabled">Suspendre l'activité</div>
                    <div class="enabled">Redémarrer...</div>
                    <div class="enabled">Éteindre...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Vérouiller l'écran</div>
                        <div class="symbols">&#8963; &#8984; Q</div>
                    </div>
                    <div class="command enabled">
                        <div>Fermer la session Yohann D...</div>
                        <div class="symbols">&#8679; &#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Reglages">
                    <p class="title app">Réglages Système</p>
                </div>
                <div class="container">
                    <div class="enabled">À propos de Réglages Système</div>
                    <hr>
                    <div class="command enabled">
                        <div>Services</div>
                        <img src="../../images/icons/icon_right-arrow.png"
                            alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer Réglages Système</div>
                        <div class="symbols">&#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer les autres</div>
                        <div class="symbols">&#8997; &#8984; H</div>
                    </div>
                    <div class="enabled">Tout afficher</div>
                    <hr>
                    <div class="command enabled">
                        <div>Quitter Réglages Système</div>
                        <div class="symbols">&#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab short">
                <div class="box" id="Fichier">
                    <p class="title">Fichier</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Fermer</div>
                        <div class="symbols">&#8984; W</div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Edition">
                    <p class="title">Édition</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Annuler</div>
                        <div class="symbols">&#8984; Z</div>
                    </div>
                    <div class="command">
                        <div class="grey">Rétablir</div>
                        <div class="symbols">&#8679; &#8984; Z</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Couper</div>
                        <div class="symbols">&#8984; X</div>
                    </div>
                    <div class="command">
                        <div class="grey">Copier</div>
                        <div class="symbols">&#8984; C</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller</div>
                        <div class="symbols">&#8984; V</div>
                    </div>
                    <div class="command">
                        <div class="grey">Supprimer</div>
                        <div class="symbols">&#8984; &#9003;</div>
                    </div>
                    <div class="command enabled">
                        <div>Tout sélectionner</div>
                        <div class="symbols">&#8984; A</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Démarrer Dictée</div>
                        <div class="symbols">fn D</div>
                    </div>
                    <div class="command enabled">
                        <div>Emoji et symboles</div>
                        <div class="symbols">fn</div>
                    </div>
                </div>
            </div>
            <div class="tab short">
                <div class="box" id="Presentation">
                    <p class="title">Présentation</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Recherche</div>
                        <div class="symbols">&#8984; F</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Fenetre">
                    <p class="title">Fenêtre</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Minimiser</div>
                        <div class="symbols">&#8984; M</div>
                    </div>
                    <div class="enabled">Réduire/agrandir</div>
                    <div class="enabled">Placer la fenêtre à gauche de l'écran</div>
                    <div class="enabled">Placer la fenêtre à droite de l'écran</div>
                    <div class="grey">Remplacer la fenêtre en mosaïque</div>
                    <hr>
                    <div class="grey">Supprimer la fenêtre du groupe</div>
                    <hr>
                    <div class="grey">Tout ramener au premier plan</div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Aide">
                    <p class="title">Aide</p>
                </div>
                <div class="container">
                    <input type="text" placeholder="Recherche">
                    <div class="enabled">Aide Réglages Système</div>
                    <div class="enabled">Aide macOS</div>
                    <div class="enabled">Manuel d'utilisation</div>
                    <div class="enabled">Assistance macOS</div>
                    <hr>
                    <div class="enabled">Spécifications de &#171; MacBook Pro &#187;</div>
                    <div class="enabled">Assistance pour le matériel</div>
                </div>
            </div>
        </div>
        <script src="../../scripts/app-header.js"></script>
    </body>
</html>