.app-header {
    position: relative;
    display: flex;
    justify-content: left;
    z-index: inherit;

    .tab {
        .box {
            cursor: default;
            display: flex;
            align-items: center;
            user-select: none;
            height: 24px;
            padding: 0 16px;
            border: none;
            border-radius: 4px;
            margin: 0 -4px;

            &.active {
                background-color: rgba(255, 255, 255, 0.527);
            }

            &.active,
            .title {
                color: white;
                font-size: 13px;
            }

            &:has(img) {
                width: 48px;
                margin-left: 4px;
            }

            img {
                width: 16px;
                height: 16px;
            }

            .title.app {
                font-weight: 600;
            }
        }

        .container {
            display: none;
            position: absolute;
            width: 250px;
            background-color: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.342);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            border: none;
            border-radius: 8px;
            margin-top: 2px;
            margin-left: -4px;
            padding: 4px 4px;

            &.active {
                display: block;
            }

            &.ticked>div {
                padding-left: 20px;
            }

            &.long {
                width: 325px;
            }

            &.extralong {
                width: 400px;
            }

            &.extraextralong {
                width: 450px;
            }

            &.short {
                width: 150px;
            }

            div {
                font-size: 13px;
                color: black;
                border: none;
                border-radius: 4px;
                padding: 2px 12px;
                margin: 0;
                cursor: default;
                user-select: none;
            }

            &.apple {
                margin-left: 4px;
            }

            .command {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                div {
                    margin: 0;
                    padding: 0;
                    user-select: none;
                }

                .symbols,
                .grey {
                    color: rgba(114, 114, 114, 0.5);
                    display: flex;
                    align-items: center;
                }
            }

            hr {
                border: 0.25px solid rgba(114, 114, 114, 0.3);
                margin: 4px 12px;
            }

            .command {
                .left-block {
                    display: flex;
                    flex-direction: row;

                    div {
                        padding-left: 32px;
                    }

                    img {
                        position: absolute;
                    }
                }

                img {
                    width: 16px;
                    height: 16px;
                    object-fit: contain;
                    object-position: center;
                }

                .right-arrow {
                    width: 10px;
                    height: 10px;
                }
            }

            .tick {
                width: 12px !important;
                position: absolute;
                margin-left: -16px;
            }

            .colors {
                display: flex;
                flex-direction: row;
                align-items: center;

                .color {
                    width: 16px;
                    height: 16px;
                    border-radius: 9999px;
                    padding: 0;
                    margin-right: 12px;
                }

                .color.red {
                    background-color: rgb(201, 128, 121);
                    border: 0.5px solid rgb(255, 22, 1);
                }

                .color.orange {
                    background-color: rgb(203, 163, 112);
                    border: 0px solid rgb(250, 142, 0);
                }

                .color.yellow {
                    background-color: rgb(206, 186, 116);
                    border: 0.5px solid rgb(255, 200, 0);
                }

                .color.green {
                    background-color: rgb(135, 184, 126);
                    border: 0.5px solid rgb(38, 255, 0);
                }

                .color.blue {
                    background-color: rgb(115, 147, 202);
                    border: 0.5px solid rgb(0, 94, 255);
                }

                .color.purple {
                    background-color: rgb(166, 134, 184);
                    border: 0.5px solid rgb(162, 0, 255);
                }

                .color.grey {
                    background-color: rgb(158, 158, 158);
                    border: 0.5px solid rgb(95, 95, 95);
                }
            }

            input {
                background-color: rgba(176, 176, 176, 0.179);
                backdrop-filter: blur(20px);
                border: 0.5px solid rgba(0, 0, 0, 0.174);
                border-radius: 4px;
                width: 100%;
                margin: 4px 0;
                color: black;
                padding: 2px 0;
                padding-left: 12px;

                &::placeholder {
                    color: rgba(114, 114, 114, 0.5);
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}