.finder-window {
  display: flex;
  position: relative;
  height: calc(100% - 25px);
  z-index: 0;

  .location {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 175px;
    height: 100%;
    background-color: rgba(225, 225, 225, 0.661);
    backdrop-filter: blur(10px);
    overflow: scroll;

    .title {
      font-size: 12px;
      font-weight: 700;
      color: rgba(110, 110, 109, 0.651);
      margin-bottom: 4px;
    }

    .favourites,
    .clouds,
    .tags {
      padding-top: 12px;
      padding-left: 12px;
      user-select: none;
    }

    .favourites li,
    .clouds li,
    .tags li {
      display: flex;
      flex-direction: row;
      padding: 6px;
      margin-right: 12px;
      margin-left: -4px;
      align-items: center;
      user-select: none;
    }

    .favourites li.active,
    .clouds li.active,
    .tags li.active {
      background-color: rgba(77, 77, 77, 0.355);
      border-radius: 6px;
    }

    .favourites .airdrop,
    .favourites .recents,
    .favourites .downloads {
      width: 20px;
      height: 20px;
      object-fit: contain;
      object-position: center;
      margin-left: -2px;
      margin-right: 6px;
    }

    .favourites li img,
    .clouds li img {
      width: 16px;
      height: 16px;
      object-fit: contain;
      object-position: center;
      margin-right: 8px;
    }

    .favourites li p,
    .clouds li p,
    .tags li p {
      font-size: 13px;
      cursor: default;
    }

    .tags .red,
    .tags .orange,
    .tags .yellow,
    .tags .green,
    .tags .blue,
    .tags .purple,
    .tags .grey,
    .tags .white {
      border: none;
      border-radius: 9999px;
      width: 10px;
      height: 10px;
      margin: 0;
      margin-right: 10px;
      margin-left: 8px;
    }

    .tags .red {
      background-color: rgb(252, 49, 28);
    }

    .tags .orange {
      background-color: rgb(234, 126, 0);
    }

    .tags .yellow {
      background-color: rgb(223, 169, 0);
    }

    .tags .green {
      background-color: rgb(20, 182, 28);
    }

    .tags .blue {
      background-color: rgb(3, 111, 231);
    }

    .tags .purple {
      background-color: rgb(160, 71, 185);
    }

    .tags .grey {
      background-color: rgb(112, 107, 101);
    }

    .tags .white {
      background: none;
      border: 0.5px solid black;
    }
  }

  .folders {
    background-color: white;
    flex: 1;

    .header-finder {
      background-color: white;
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      left: 175px;
      height: 56px;
      align-items: center;
      z-index: 10;
      justify-content: space-between;
      user-select: none;

      &:hover {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        clip-path: inset(0px 0px -15px 0px);
        transition: 1s;
      }

      div {
        display: flex;
        align-items: center;
      }

      .arrows {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 30px;
          padding: 8px 8px;
          border-radius: 4px;

          &:first-child {
            margin-left: 16px;
            margin-right: 8px;
          }
        }
      }

      p {
        font-weight: 600;
        font-size: 15px;
        margin-left: 16px;
      }

      >img,
      .finder-icons img,
      .search img {
        height: 24px;
        margin-right: 16px;
        user-select: none;

        &:first-child {
          height: 14px;
          display: none;
        }
      }

      .active {
        cursor: pointer;
      }
    }

    section {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      column-gap: 16px;
      row-gap: 24px;
      grid-auto-rows: 94.5px;
      position: absolute;
      top: 72px;
      left: 175px;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
      background-color: white;
      padding: 0 16px;
    }

    .finder-section {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      background-color: white;
    }

    section .folder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 0;

      &.active img {
        background-color: rgb(230, 230, 230);
        border-radius: 6px;
      }

      &.active p {
        background-color: rgb(42, 98, 217);
        color: white;
        padding: 0 2px;
        border-radius: 3px;
      }

      img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        object-position: center;
        margin-bottom: 4px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}