* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header-word {
	display: flex;
	flex-direction: column;
	width: 100%;
	z-index: 800;
	img {
		width: 32px;
		height: 32px;
	}
	nav {
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	.info {
		display: flex;
		align-items: center;
	}
	.app-word {
		display: flex;
		width: 100%;
		height: 48px;
		background-color: #185abd;
		color: white;
		overflow-x: scroll;
		.left-info {
			.drop-menu {
				width: 48px;
				height: 48px;
				padding: 16px;
			}
			.titleapp {
				display: flex;
				align-items: center;
				font-size: 16px;
				font-weight: 800;
				padding: 0 12px 0 8px;
				height: 100%;
				user-select: none;
			}
			.saved {
				min-width: calc(50vw - 385.023px);
				button {
					display: flex;
					align-items: center;
					color: white;
					padding: 0 6px;
					background-color: transparent;
					width: 182.95px;
					height: 48px;
					border: none;
					p {
						&:nth-child(1) {
							padding: 0 4px;
						}
						&:nth-child(2) {
							padding: 0 2px;
						}
						&:nth-child(3) {
							padding: 0 4px;
						}
					}
					img {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
		.middle-info {
			display: flex;
			flex: 1;
			align-items: center;
			.search-bar {
				min-width: 468px;
				height: 32px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				background-color: rgb(203, 211, 229);
				border-radius: 3px;
				img {
					display: block;
					margin: 0 8px 0 16px;
					width: 28px;
					height: 28px;
				}
			}
		}
		input {
			justify-self: right;
			display: block;
			min-width: 422px;
			height: 32px;
			border: none;
			outline: none;
			border-radius: 3px;
			background-color: transparent;
			&::placeholder {
				color: rgb(36, 70, 140);
			}
		}
		.right-info {
			.image {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 48px;
				height: 48px;
			}
			img {
				width: 20px;
				height: 20px;
			}
			.user {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 48px;
				height: 48px;
			}
			.username {
				background-color: #185abd;
				color: white;
				border: 1px solid white;
				border-radius: 9999px;
				width: 32px;
				height: 32px;
			}
		}
	}
	.menu-word {
		display: flex;
		justify-content: space-between;
		background-color: rgb(243, 242, 241);
		overflow-x: scroll;
		.left-info {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			width: 711.07px;
			height: 36px;
			& > div {
				position: relative;
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				height: 32px;
				width: 100%;
				& > div {
					position: relative;
					display: flex;
					width: auto;
					height: 31px;
					padding: 0 10px;
					user-select: none;
					justify-content: center;
					align-items: center;
					transition: 0.25s;
					&:hover {
						background-color: rgb(237, 235, 233);
						& > p {
							font-weight: 800;
						}
					}
					&:first-child {
						width: 82.53px;
					}
					&:nth-child(2) {
						width: 63.99px;
					}
					&:nth-child(3) {
						width: 82.45px;
					}
					&:nth-child(4) {
						width: 110.88px;
						padding: 6px 0;
					}
					&:nth-child(5) {
						width: 88.66px;
					}
					&:nth-child(6) {
						width: 78.8px;
					}
					&:nth-child(7) {
						width: 86.27px;
					}
					&:nth-child(8) {
						width: 55.99px;
					}
					&.active {
						& > p {
							font-weight: 800;
						}
					}
					& > p {
						text-align: center;
						margin: 0 4px;
						font-weight: 400;
					}
				}
			}
			.slide {
				position: absolute;
				background-color: rgb(44, 89, 183);
				height: 3px;
				align-self: flex-end;
			}
			div {
				&:nth-child(2).active {
					& ~ .slide {
						left: 90.55px;
						width: 47.29px;
					}
					&:hover {
						& ~ .slide {
							left: 82.20px;
							width: 63.98px;
						}
					}
				}
				&:nth-child(3).active {
					& ~ .slide {
						left: 157.87px;
						width: 59.07px;
					}
					&:hover {
						& ~ .slide {
							left: 146.12px;
							width: 82.45px;
						}
					}
				}
				&:nth-child(4).active {
					& ~ .slide {
						left: 240.46px;
						width: 87.20px;
					}
					&:hover {
						& ~ .slide {
							left: 228.63px;
							width: 110.88px;
						}
					}
				}
				&:nth-child(5).active {
					& ~ .slide {
						left: 351.25px;
						width: 65.16px;
					}
					&:hover {
						& ~ .slide {
							left: 339.5px;
							width: 88.66px;
						}
					}
				}
				&:nth-child(6).active {
					& ~ .slide {
						left: 440.01px;
						width: 55.10px;
					}
					&:hover {
						& ~ .slide {
							left: 428.16px;
							width: 78.80px;
						}
					}
				}
				&:nth-child(7).active {
					& ~ .slide {
						left: 518.34px;
						width: 63.48px;
					}
					&:hover {
						& ~ .slide {
							left: 506.95px;
							width: 86.27px;
						}
					}
				}
				&:nth-child(8).active {
					& ~ .slide {
						left: 606.18px;
						width: 30.07px;
					}
					&:hover {
						& ~ .slide {
							left: 593.22px;
							width: 55.98px;
						}
					}
				}
			}
		}
		.right-info {
			display: flex;
			flex-direction: row;
			button {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: 14px;
				font-weight: 600;
				height: 28px;
				margin: 4px;
				padding: 0 6px;
				img {
					width: 28px;
				}
				.down-arrow {
					width: 22px;
				}
				&:not(:last-of-type) {
					background-color: white;
					color: rgb(24, 90, 189);
					border: 1px solid rgb(200, 198, 196);
				}
				&:not(:last-of-type):hover {
					background-color: rgb(237, 235, 233);
				}
				&:last-of-type {
					background-color: rgb(24, 90, 189);
					color: white;
					border: transparent;
					&:hover {
						background-color: rgb(40, 80, 184);
					}
				}
			}
		}
	}
}
.header-word .app-word .left-info>*:not(:last-child):hover,
.header-word .app-word .left-info .saved button:hover,
.header-word .app-word .right-info div:hover {
	display: flex;
	align-items: center;
	background-color: rgb(40, 80, 164);
}
.panel {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 928px;
	z-index: 990;
	transform: translate(-50px);
	visibility: hidden;
	transition: 0.25s;
	.sidebar {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 160px;
		background-color: rgb(24, 90, 189);
		z-index: 991;
		img {
			width: 36px;
			height: 36px;
		}
		div {
			display: flex;
			align-items: center;
			padding: 0 9px 0 13px;
			margin: 0;
			flex: 1;
			transition: 0.25s;
			&:first-child {
				margin: 20px 0;
				user-select: none;
			}
			&:hover {
				background-color: rgb(40, 80, 163);
			}
			p {
				padding: 0 0 0 12px;
				color: white;
			}
			&.menu-item {
				width: 100%;
				height: 34px;
			}
			&.active {
				background-color: rgb(34, 68, 138);
			}
			&:nth-child(2).active {
				& ~ .slide2 {
					top: 78px;
					opacity: 1;
				}
			}
			&:nth-child(3).active {
				& ~ .slide2 {
					top: 114px;
					opacity: 1;
				}
			}
			&:nth-child(4).active {
				& ~ .slide2 {
					top: 150px;
					opacity: 1;
				}
			}
		}
		.slide2 {
			position: absolute;
			left: 2px;
			width: 3px;
			height: 32px;
			border: none;
			background-color: white;
			padding: 0;
			margin: 0;
			opacity: 0;
		}
	}
	.otherpart {
		position: absolute;
		left: 160px;
		top: 0;
		bottom: 0;
		width: 648px;
		background-color: white;
		z-index: 992;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		.word-header {
			display: flex;
			justify-content: space-between;
			h2 {
				font-size: 28px;
				padding: 40px 0 15px 30px;
			}
			.one-drive {
				display: flex;
				align-items: center;
				font-size: 12px;
				margin: 57px 30px 0 0;
				padding: 0 0 15px 30px;
				p {
					font-size: inherit;
					&:first-child {
						margin: 1px -1px 1px 0;
						padding: 2px 0 0;
						color: #605E5C;
					}
					&:last-child {
						color: #605E5C;
					}
				}
				.onedrive {
					width: 28px;
					height: 28px;
					margin-bottom: -4px;
				}
			}
		}
		.pages {
			.page {
				.box-page {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 0 28.66px 12px;
					.image-page {
						position: relative;
						width: 75.91px;
						height: 98px;
						border: 1px solid rgb(215, 215, 215);
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 16px 0 0;
					}
					& > img {
						width: 75.91px;
						border: 1px solid rgb(215, 215, 215);
						margin: 16px 0 0;
					}
					& > p {
						padding: 13px 0 13px;
						margin: 0 5px;
					}
					&:hover {
						background-color: rgb(242, 242, 242);
						.image-page {
							box-shadow: 0 0 2px rgb(169, 169, 169);
						}
						& > img {
							box-shadow: 0 0 2px rgb(169, 169, 169);
						}
						p {
							color: rgb(44, 88, 184);
						}
					}
				}
			}
		}
		.documents {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			padding-left: 16px;
			.document {
				display: flex;
				flex-direction: row;
				align-items: center;
				width: 500px;
				margin: 4px 30px;
				&:hover {
					background-color: rgb(242, 242, 242);
				}
				img {
					width: 56px;
					height: 56px;
					object-fit: center;
					object-position: center;
					margin-right: 8px;
				}
				.document-p {
					display: flex;
					flex-direction: column;
					.document-title {
						padding-bottom: 4px;
						font-size: 16px;
					}
					.document-description {
						font-size: 12px;
						color: #605E5C;
					}
				}
			}
		}
		div {
			&.more-file {
				display: flex;
				justify-content: flex-end;
				margin-right: 12px;
				p {
					&.more-file {
						display: flex;
						flex-direction: row;
						align-items: center;
						color: rgb(44, 88, 184);
						font-weight: 800;
						&:hover {
							text-decoration: underline;
						}
						img {
							width: 32px;
							height: 32px;
						}
					}
				}
			}
		}
	}
}
hr {
	margin: 8px 12px;
	height: 1px;
	border: 0.5px solid rgba(255, 255, 255, 0.75);
}
.panel .otherpart p.nouveau,
.panel .otherpart p.recents {
	font-size: 16px;
	margin: 5px 0 21px 42px;
}
.panel .otherpart .pages,
.panel .otherpart .pages .page {
	display: flex;
	justify-content: center;
	align-items: center;
}
