<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/generalanddock.css" />
  <link rel="stylesheet" href="../styles/window.css">
  <title>Yohann's Portfolio</title>
  <script src="../scripts/resizeable-windows.js" defer async></script>
  <script src="../scripts/draggable-windows.js" defer async></script>

 </head>
 <body>
  <header>
   <div class="menu">
    <div class="apple">
     <img src="../images/icons/icon_mac.svg" alt="" />
    </div>
    <div>
     <p class="Finder">Finder</p>
    </div>
    <div>
     <p>Fichier</p>
    </div>
    <div>
     <p>Édition</p>
    </div>
    <div>
     <p>Présentation</p>
    </div>
    <div>
     <p>Aller</p>
    </div>
    <div>
     <p>Fenêtre</p>
    </div>
    <div>
     <p>Aide</p>
    </div>
   </div>
   <div class="rightinfos">
    <div class="widgets">
     <div class="battery">
      <img src="../images/icons/icons_batterie.svg" alt="" />
     </div>
     <div class="wifi">
      <img src="../images/icons/icon_wifi.svg" alt="" />
     </div>
     <div class="search">
      <img src="../images/icons/icon_search.svg" alt="" />
     </div>
     <div class="notifications">
      <img src="../images/icons/icon_notifications.svg" alt="" />
     </div>
     <div class="siri">
      <img src="../images/icons/icon_siri.png" alt="" />
     </div>
    </div>
    <div class="date">
     <div id="dayname"></div>
     <div id="daynum"></div>
     <div id="monthname"></div>
     <div id="">à</div>
     <div id="time"></div>
    </div>
   </div>
  </header>
  <nav class="dock">
   <ul class="dock-container">
    <li class="li-1">
     <div class="name">Finder</div>
     <img class="ico" id="finder" src="../images/icons/app_finder.png" alt="The Finder." />
    </li>
    <li class="li-2">
     <div class="name">LaunchPad</div>
      <img
        class="ico" id="launchpad"
        src="../images/icons/launchpad.png"
        alt="The Launchpad."
      />
    </li>
    <li class="li-3">
     <div class="name">Safari</div>
     <img
      class="ico" id="safariApp"
      src="../images/icons/app_safari.png"
      alt="The Safari browser."
     />
    </li>
    <li class="li-4">
     <div class="name">Visual Studio Code</div>
     <img
      class="ico" id="vscodeApp"
      src="../images/icons/app_vstudio.png"
      alt="The Visual Studio Code app."
     />
    </li>
    <li class="li-5">
     <div class="name">Word</div>
     <img class="ico" id="wordApp" src="../images/icons/app_word.png" alt="The Word app." />
    </li>
    <li class="li-6">
     <div class="name">Notes</div>
     <img
      class="ico" id="notesApp"
      src="../images/icons/app_notes.png"
      alt="The Notes app."
     />
    </li>
    <li class="li-7">
     <div class="name">Calendar</div>
     <img
      class="ico" id="calendarApp"
      src="../images/icons/app_calendar.png"
      alt="The calendar."
     />
    </li>
    <li class="li-8">
     <div class="name">Mail</div>
     <img class="ico" id="mailApp" src="../images/icons/app_mail.png" alt="The Mail app." />
    </li>
    <li class="li-9">
     <div class="name">Réglages</div>
     <img
      class="ico" id="settings"
      src="../images/icons/app_settings.png"
      alt="The settings."
     />
    </li>
   </ul>
  </nav>
  <section id="window">
    <div class="header" id="header">
      <div class="traffic-lights" id="traffic-lights">
        <button class="red" id="red"></button>
        <button class="yellow" id="yellow"></button>
        <button class="green" id="green"></button>
      </div>
      <div id="movable">
        <div class="appname">Finder</div>
      </div>
    </div>
    <iframe src="./finder-window.html" width= "100%" height="100%" style="border:none;"></iframe>
  </section>
  <iframe class="iframe" id="iframe" src="./launchpad.html" width= "100%" height="100%" style="border:none; visibility:hidden; transform:scale(1.2); backdrop-filter: blur(0px); opacity:0;"></iframe>

  <script src="../scripts/date-time.js"></script>
  <script src="../scripts/dock.js"></script>
  <script src="../scripts/traffic-lights.js"></script>
  <script>
    const finder = document.getElementById('finder')
    const launchpad = document.getElementById('launchpad');
    const iframe = document.getElementById('iframe');
    // background.style.display = "none";
    
    launchpad.onclick = function () {
      if (iframe.style.visibility === "hidden") {
        iframe.style.zIndex = 0;
        iframe.style.transform = "scale(1)";
        iframe.style.backdropFilter = "blur(20px)";
        iframe.style.opacity = 1;
        iframe.style.visibility = "visible";
        iframe.style.transition = "all 0.2s";
      } else if (iframe.style.visibility === "visible") {
        iframe.style.zIndex = 999;
        iframe.style.transform = "scale(1.2)";
        iframe.style.backdropFilter = "blur(0px)";
        iframe.style.opacity = 0;
        iframe.style.visibility = "hidden";
        iframe.style.transition = "all 0.2s";
      }
    }

    const iWindow = iframe.contentWindow;
    const iDocument = iWindow.document;
    const background = iDocument.getElementById('exit');
    
    background.onclick = function () {
      iframe.style.zIndex = 999;
      iframe.style.transform = "scale(1.2)";
      iframe.style.backdropFilter = "blur(0px)";
      iframe.style.opacity = 0;
      iframe.style.visibility = "hidden";
      iframe.style.transition = "all 0.2s";
    }


    const safari = document.getElementById('safariApp');
    const vscode = document.getElementById('vscodeApp');
    const word = document.getElementById('wordApp');
    const notes = document.getElementById('notesApp');
    const calendar = document.getElementById('calendarApp');
    const mail = document.getElementById('mailApp');
    const settings = document.getElementById('settings')

  </script>
 </body>
</html>
