<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../styles/launchpad.css">
  <title>Yohann's Portfolio</title>

</head>
<body>
  <div class="container" id="container">
    <div class="exit" id="exit"></div>
    <div class="input">
      <img id="input-image" src="../images/icons/icon_search.svg" alt="Magnifier">
      <input id="input" type="text" placeholder="Rechercher" autocomplete="off">
    </div>
    <main class="panel">
      <div class="app">
        <img src="../images/apps/app_safari.png" alt="Safari logo">
        <p>Safari</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_vstudio.png" alt="VSStudio logo">
        <p>VS Code</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_notes.png" alt="Notes logo">
        <p>Notes</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_calendar.png" alt="Calendar logo">
        <p>Calendrier</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_photoshop.png" alt="Photoshop logo">
        <p>Photoshop</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_facetime.png" alt="Facetime logo">
        <p>Facetime</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_calculator.png" alt="Calculator logo">
        <p>Calculatrice</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_terminal.png" alt="Terminal logo">
        <p>Terminal</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_word.png" alt="Word logo">
        <p>Word</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_mail.png" alt="Mail logo">
        <p>Mail</p>
      </div>
      <div class="app">
        <img src="../images/apps/app_settings.png" alt="Settings logo">
        <p>Paramètres</p>
      </div>
    </main>
  </div>
</body>
</html>