<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../styles/app-header.css">
    </head>
    <body>
        <div class="app-header calendar-header">
            <div class="tab long apple">
                <div class="box">
                    <img src="../../images/icons/icon_mac.svg" alt="The Apple
                        logo."
                        />
                </div>
                <div class="container">
                    <div class="enabled">À propos de ce Mac</div>
                    <hr>
                    <div class="enabled">Réglages du système...</div>
                    <div class="enabled">App Store...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Éléments récents</div>
                        <img class="right-arrow"
                            src="../../images/icons/icon_right-arrow.png"
                            alt="">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Forcer à quitter...</div>
                        <div class="symbols">&#8997; &#8984; &#9099;</div>
                    </div>
                    <hr>
                    <div class="enabled">Suspendre l'activité</div>
                    <div class="enabled">Redémarrer...</div>
                    <div class="enabled">Éteindre...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Vérouiller l'écran</div>
                        <div class="symbols">&#8963; &#8984; Q</div>
                    </div>
                    <div class="command enabled">
                        <div>Fermer la session Yohann D...</div>
                        <div class="symbols">&#8679; &#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="App">
                    <p class="title app">Calendrier</p>
                </div>
                <div class="container">
                    <div class="enabled">À propos de Calendrier</div>
                    <hr>
                    <div class="command enabled">
                        <div>Réglages...</div>
                        <div class="symbols">&#8984; ,</div>
                    </div>
                    <div class="enabled">Comptes...</div>
                    <hr>
                    <div class="enabled">Ajouter un compte...</div>
                    <hr>
                    <div class="command enabled">
                        <div>Services</div>
                        <img src="../../images/icons/icon_right-arrow.png"
                            alt="" class="right-arrow">
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Masquer Calendrier</div>
                        <div class="symbols">&#8984; H</div>
                    </div>
                    <div class="command enabled">
                        <div>Masquer les autres</div>
                        <div class="symbols">&#8997; &#8984; H</div>
                    </div>
                    <div class="enabled">Tout afficher</div>
                    <hr>
                    <div class="command enabled">
                        <div>Quitter Calendrier</div>
                        <div class="symbols">&#8984; Q</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Fichier">
                    <p class="title">Fichier</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Nouvel évènement</div>
                        <div class="symbols">&#8984; N</div>
                    </div>
                    <div class="command enabled">
                        <div>Nouveau calendrier</div>
                        <div class="symbols">&#8997; &#8984; N</div>
                    </div>
                    <div class="command enabled">
                        <div>Abonnement à un calendrier...</div>
                        <div class="symbols">&#8997; &#8984; S</div>
                    </div>
                    <div class="enabled">Nouveau calendrier de jours
                        fériés...</div>
                    <hr>
                    <div class="enabled">Importer...</div>
                    <div class="command enabled">
                        <div>Exporter</div>
                        <img src="../../images/icons/icon_right-arrow.png"
                            alt="" class="right-arrow">
                    </div>
                    <div class="command enabled">
                        <div>Fermer</div>
                        <div class="symbols">&#8984; W</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Imprimer...</div>
                        <div class="symbols">&#8984; P</div>
                    </div>
                </div>
            </div>
            <div class="tab long">
                <div class="box" id="Edition">
                    <p class="title">Édition</p>
                </div>
                <div class="container">
                    <div class="command">
                        <div class="grey">Annuler</div>
                        <div class="symbols">&#8984; Z</div>
                    </div>
                    <div class="command">
                        <div class="grey">Rétablir</div>
                        <div class="symbols">&#8679; &#8984; Z</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Couper</div>
                        <div class="symbols">&#8984; X</div>
                    </div>
                    <div class="command">
                        <div class="grey">Copier</div>
                        <div class="symbols">&#8984; C</div>
                    </div>
                    <div class="command">
                        <div class="grey">Coller</div>
                        <div class="symbols">&#8984; V</div>
                    </div>
                    <div class="grey">Supprimer</div>
                    <div class="command enabled">
                        <div>Tout sélectionner</div>
                        <div class="symbols">&#8984; A</div>
                    </div>
                    <div class="command enabled">
                        <div>Dupliquer</div>
                        <div class="symbols">&#8984; D</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Modifier l'évènement</div>
                        <div class="symbols">&#8984; E</div>
                    </div>
                    <div class="command">
                        <div class="grey">Lire les informations</div>
                        <div class="symbols">&#8984; I</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher l'inspecteur</div>
                        <div class="symbols">&#8997; &#8984; I</div>
                    </div>
                    <hr>
                    <div class="grey">Publier...</div>
                    <div class="grey">Arrêter de publier...</div>
                    <div class="grey">Envoyer un e-mail de publication</div>
                    <hr>
                    <div class="command enabled">
                        <div>Rechercher</div>
                        <div class="symbols">&#8984; F</div>
                    </div>
                    <div class="command enabled">
                        <div>Afficher l'orthographe et la grammaire</div>
                        <div class="symbols">&#8984; :</div>
                    </div>
                    <hr>
                    <div class="command">
                        <div class="grey">Démarrer Dictée</div>
                        <div class="symbols">fn D</div>
                    </div>
                    <div class="command enabled">
                        <div>Emoji et symboles</div>
                        <div class="symbols">fn</div>
                    </div>
                </div>
            </div>
            <div class="tab long ticked">
                <div class="box" id="Presentation">
                    <p class="title">Présentation</p>
                </div>
                <div class="container">
                    <div class="enabled">Afficher la barre d'onglets</div>
                    <div class="command">
                        <div class="grey">Afficher tous les onglets</div>
                        <div class="symbols">&#8679; &#8984; \</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Par jour</div>
                        <div class="symbols">&#8984; 1</div>
                    </div>
                    <div class="command enabled">
                        <div>Par semaine</div>
                        <div class="symbols">&#8984; 2</div>
                    </div>
                    <div class="command enabled">
                        <div>Par mois</div>
                        <div class="symbols">&#8984; 3</div>
                    </div>
                    <div class="command enabled">
                        <div>Par année</div>
                        <div class="symbols">&#8984; 4</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Suivant</div>
                        <div class="symbols">&#8984; &#8594;</div>
                    </div>
                    <div class="command enabled">
                        <div>Précédent</div>
                        <div class="symbols">&#8984; &#8592;</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Aller à Aujourd'hui</div>
                        <div class="symbols">&#8984; T</div>
                    </div>
                    <div class="command enabled">
                        <div>Aller à la date...</div>
                        <div class="symbols">&#8679; &#8984; T</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Agrandir la taille du texte</div>
                        <div class="symbols">&#8984; +</div>
                    </div>
                    <div class="command enabled">
                        <div>Réduire la taille du texte</div>
                        <div class="symbols">&#8984; -</div>
                    </div>
                    <hr>
                    <div class="enabled">Afficher la liste des calendriers</div>
                    <div class="enabled">Afficher les notifications</div>
                    <hr>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_tick.png" alt="" class="tick">
                            <div>Afficher les évènements toute la journée</div>
                        </div>
                    </div>
                    <div class="enabled">Afficher les évènements refusés</div>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_tick.png" alt="" class="tick">
                            <div>Afficher le temps de trajet</div>
                        </div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Actualiser les calendriers</div>
                        <div class="symbols">&#8984; R</div>
                    </div>
                    <hr>
                    <div class="command enabled">
                        <div>Activer le mode plein écran</div>
                        <div class="symbols">fn F</div>
                    </div>
                </div>
            </div>
            <div class="tab long ticked">
                <div class="box" id="Fenetre">
                    <p class="title">Fenêtre</p>
                </div>
                <div class="container">
                    <div class="command enabled">
                        <div>Minimiser</div>
                        <div class="symbols">&#8984; M</div>
                    </div>
                    <div class="enabled">Réduire/agrandir</div>
                    <div class="enabled">Placer la fenêtre à gauche de l'écran</div>
                    <div class="enabled">Placer la fenêtre à droite de l'écran</div>
                    <div class="grey">Remplacer la fenêtre en mosaïque</div>
                    <hr>
                    <div class="grey">Supprimer la fenêtre du groupe</div>
                    <hr>
                    <div class="command">
                        <div class="grey">Afficher l'onglet précédent</div>
                        <div class="symbols">&#8963; &#8679; &#8677;</div>
                    </div>
                    <div class="command">
                        <div class="grey">Afficher l'onglet suivant</div>
                        <div class="symbols">&#8963; &#8677;</div>
                    </div>
                    <div class="grey">Placer l'onglet dans une nouvelle fenêtre</div>
                    <div class="grey">Fusionner toutes les fenêtres</div>
                    <hr>
                    <div class="command enabled">
                        <div class="left-block">
                            <img src="../../images/icons/icon_tick.png" alt="" class="tick">
                            <div>Calendrier</div>
                        </div>
                        <div class="symbols">&#8984; 0</div>
                    </div>
                    <hr>
                    <div class="enabled">Contacts</div>
                    <div class="command enabled">
                        <div>Fenêtre des disponibilités</div>
                        <div class="symbols">&#8679; &#8984; A</div>
                    </div>
                    <div class="enabled">Family</div>
                    <div class="enabled">Jours fériés en France</div>
                    <div class="enabled">Sleeps</div>
                    <div class="enabled">Week Numbers</div>
                    <hr>
                    <div class="grey">Tout ramener au premier plan</div>
                </div>
            </div>
            <div class="tab">
                <div class="box" id="Aide">
                    <p class="title">Aide</p>
                </div>
                <div class="container">
                    <input type="text" placeholder="Recherche">
                    <div class="enabled">Aide Calendrier</div>
                    <div class="enabled">Raccourcis clavier</div>
                </div>
            </div>
        </div>
        <script src="../../scripts/app-header.js"></script>
    </body>
</html>