.navbar {
  display: flex;
  justify-content: space-between;
  height: 24px;
  width: 100%;
  z-index: 50;
  /* align-items: center; */
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(50px);
}

.navbar .menu {
  position: relative;
  display: flex;
  width: 700px;
  height: 24px;
  z-index: 50;
  /* align-items: center; */
  /* padding: 0 16px;
  border: none;
  border-radius: 4px;
  margin: 0 -4px; */
}

.navbar .rightinfos,
.navbar .rightinfos .widgets {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .rightinfos {
  z-index: 50;
}

.navbar .rightinfos .widgets div,
.navbar .rightinfos .date {
  display: flex;
  align-items: center;
  margin: 0 -3px;
  padding: 0 12px;
  border-radius: 4px;
}

.navbar .rightinfos .date {
  margin: 0 8px 0 -3px;
  padding: 0 8px;
}

.navbar .menu p,
.navbar .date div {
  color: white;
  font-family: "Helvetica Neue", "SF Pro";
  font-size: 13px;
  user-select: none;
}

.navbar .widgets,
.navbar .date {
  display: flex;
  z-index: 50;
}

.navbar .menu div:hover,
.navbar .widgets div:hover,
.navbar .date:hover {
  cursor: default;
}

.navbar .widgets div:active,
.navbar .date:active {
  background-color: rgba(255, 255, 255, 0.527);
}

.navbar img {
  width: 16px;
  height: 16px;
}

.navbar .menu .appName {
  font-weight: 800;
}

.navbar .rightinfos .widgets .battery img {
  width: 26px;
  height: 26px;
}

.navbar .widgets,
.navbar .date div {
  margin: 0 2px;
  padding: 0;
  user-select: none;
}