* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "SF Pro", "Helvetica Neue", sans-serif;
}

html, body, .container {
  position:absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
}

.input {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.396) ;
  border-radius: 4px;
  padding: 4px;
  margin-top: 20px;
  z-index: 999;
}

.input input {
  display: flex;
  position: absolute;
  left: 40%;
  width: 50%;
  background-color: transparent;
  border: none;
  transition: 0.35s;
  color: white;
}

.input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 300;
  align-self: center;
}

.input input:focus {
  outline: none;
  caret-color: white;
}

.input img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 60px;
  transition: 0.35s;
}

main {
  display: grid;
  grid-template-columns: repeat(7, 88px);
  column-gap: 100px;
  row-gap: 32px;
  grid-auto-rows: 110px;
  position: absolute;
  padding: 64px 0;
}

main .app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .app img {
  width: 88px;
  height: 88px;
  object-fit: contain;
  object-position: center;
}

main .app p {
  font-size: 13px;
  color: white;
  text-shadow: 0 0 5px black;
}

.exit {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}