.safari-window {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 226, 226, 0.975);
  overflow: scroll;
}

.header-safari {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  clip-path: inset(0px 0px -15px 0px);
  z-index: 1;
}

.header-safari .info {
  display: flex;
  align-items: center;
}

.header-safari .info button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid rgba(195, 195, 195, 0.589);
  border-radius: 4px;
}

.header-safari .left-info .chevron {
  width: 28px;
  height: 24px;
}

.header-safari .left-info .chevron:first-child {
  margin-left: 12px;
}

.header-safari .left-info .chevron img {
  width: 20px;
  height: 20px;
}

.header-safari .left-info .sidebar {
  width: 36px;
  height: 24px;
  margin-left: 12px;
}

.header-safari .left-info .sidebar img {
  width: 14px;
  height: 14px;
}

.header-safari .middle-info .security {
  width: 36px;
  height: 24px;
  position: absolute;
  margin-left: -40px;
}

.header-safari .middle-info .security img {
  width: 14px;
  height: 14px;
}

.header-safari .middle-info input {
  border: none;
  border-radius: 6px;
  width: 320px;
  height: 24px;
  padding: 0;
  padding-left: 12px;
  background-color: #E5E7EB;
}

.header-safari .middle-info input::placeholder {
  text-align: center;
  color: rgb(159, 158, 166)
}

.header-safari .right-info .share,
.header-safari .right-info .tabs {
  width: 36px;
  height: 24px;
}

.header-safari .right-info .tabs {
  margin: 8px;
}

.header-safari .right-info img {
  width: 16px;
  height: 16px;
}

.main-safari {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40px;
  z-index: 0;
}

.main-safari section.favourites,
.main-safari section.frequently-used,
.main-safari section.security {
  display: flex;
  width: 65.138%;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.main-safari section h2 {
  font-weight: 700;
  color: rgb(62, 62, 62);
  margin-top: 32px;
  margin-bottom: 16px;
}

.main-safari section.favourites h2 {
  margin-top: 74px;
}

.main-safari section .websites {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 12px;
  width: 100%;
}

.main-safari section.frequently-used .websites {
  column-gap: 12px;
  row-gap: 12px;
}

.main-safari section .websites p {
  width: 72px;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
}

.main-safari section.favourites .website img {
  width: 72px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
}

.main-safari section.frequently-used .websites .website img {
  height: 120px;
  width: 216px;
  object-fit: cover;
  object-position: top;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
}

.main-safari section.favourites .websites .website img:active,
.main-safari section.frequently-used .websites .website img:active {
  filter: brightness(0.4) !important;
  transition: none;
}

a {
  text-decoration: none;
  color: black;
}

.main-safari section.security .websites {
  display: flex;
}

.main-safari section.security .banner {
  background-color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin-bottom: 64px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.25);
}

.main-safari section.security .websites .shield {
  width: 32px;
  margin: auto auto auto 24px;
}

.main-safari section.security .websites .number {
  width: auto;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.main-safari section.security .websites .title {
  flex: 1;
  text-align: left;
}