* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  width: 100vw;
  min-hight: 100vh;
}

.header-word {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 800;
}

.header-word img {
  width: 32px;
  height: 32px;
}

.header-word nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-word .info {
  display: flex;
  align-items: center;
}

.header-word .app-word {
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: #185abd;
  color: white;
}

.header-word .app-word .left-info .drop-menu {
  width: 48px;
  height: 48px;
  padding: 16px;
}

.header-word .app-word .left-info .titleapp {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  padding: 0 12px 0 8px;
  height: 100%;
  user-select: none;
}

.header-word .app-word .left-info .saved {

  min-width: calc(50vw - 385.023px)
}

.header-word .app-word .left-info .saved button {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 6px;
  background-color: transparent;
  width: 182.95px;
  height: 48px;
  border: none;
}

.header-word .app-word .left-info>*:not(:last-child):hover,
.header-word .app-word .left-info .saved button:hover,
.header-word .app-word .right-info div:hover {
  display: flex;
  align-items: center;
  background-color: rgb(40, 80, 164);
}

.header-word .app-word .left-info .saved button p:nth-child(1) {
  padding: 0 4px;
}

.header-word .app-word .left-info .saved button p:nth-child(2) {
  padding: 0 2px;
}

.header-word .app-word .left-info .saved button p:nth-child(3) {
  padding: 0 4px;
}

.header-word .app-word .left-info .saved button img {
  width: 20px;
  height: 20px;
}

.header-word .app-word .middle-info {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-word .app-word .middle-info .search-bar {
  min-width: 468px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(203, 211, 229);
  border-radius: 3px;
}

.header-word .app-word .middle-info .search-bar img {
  display: block;
  margin: 0 8px 0 16px;
  width: 28px;
  height: 28px;

}

.header-word .app-word input {
  justify-self: right;
  display: block;
  min-width: 422px;
  height: 32px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
}

.header-word .app-word input::placeholder {
  color: rgb(36, 70, 140);
}

.header-word .app-word .right-info .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.header-word .app-word .right-info img {
  width: 20px;
  height: 20px;
}

.header-word .app-word .right-info .user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.header-word .app-word .right-info .username {
  background-color: #185abd;
  color: white;
  border: 1px solid white;
  border-radius: 9999px;
  width: 32px;
  height: 32px;
}

.header-word .menu-word {
  background-color: rgb(243, 242, 241);
}

.header-word .menu-word .left-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 36px;
}

.header-word .menu-word .left-info > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 32px;
  width: 100%;
}
.header-word .menu-word .left-info>div >div:hover {
  background-color: rgb(237, 235, 233);
}

.header-word .menu-word .left-info>div > div:hover>p {
  font-weight: 800;
}

.header-word .menu-word .left-info>div>div {
  position: relative;
  display: flex;
  width: auto;
  height: 31px;
  padding: 0 10px;

  user-select: none;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.header-word .menu-word .left-info>div >div:first-child {
  width: 82.2px
}

.header-word .menu-word .left-info>div>div:nth-child(2) {
  width: 63.99px;
}

.header-word .menu-word .left-info>div>div:nth-child(3) {
  width: 82.45px;
}

.header-word .menu-word .left-info>div>div:nth-child(4) {
  width: 110.88px;
}

.header-word .menu-word .left-info>div>div:nth-child(5) {
  width: 88.66px;
}

.header-word .menu-word .left-info>div>div:nth-child(6) {
  width: 78.8px;
}

.header-word .menu-word .left-info>div>div:nth-child(7) {
  width: 86.27px;
}

.header-word .menu-word .left-info>div>div:nth-child(8) {
  width: 55.99px;
}

.header-word .menu-word .left-info>div>div.active>p {
  font-weight: 800;
}

.header-word .menu-word .left-info>div>div>p {
  text-align: center;
  margin: 0 4px;
  font-weight: 400;
}

.header-word .menu-word .left-info>div>div:nth-child(4) {
  padding: 6px 0;
}

.header-word .menu-word .left-info .slide {
  position: absolute;
  background-color: rgb(44, 89, 183);
  height: 3px;
  align-self: flex-end;
}

.header-word .menu-word .left-info div:nth-child(2).active~.slide {
  left: 90.55px;
  width: 47.29px;
}

.header-word .menu-word .left-info div:nth-child(3).active~.slide {
  left: 157.87px;
  width: 59.07px;
}

.header-word .menu-word .left-info div:nth-child(4).active~.slide {
  left: 240.46px;
  width: 87.20px;
}

.header-word .menu-word .left-info div:nth-child(5).active~.slide {
  left: 351.25px;
  width: 65.16px;
}

.header-word .menu-word .left-info div:nth-child(6).active~.slide {
  left: 440.01px;
  width: 55.10px;
}

.header-word .menu-word .left-info div:nth-child(7).active~.slide {
  left: 518.34px;
  width: 63.48px;
}

.header-word .menu-word .left-info div:nth-child(8).active~.slide {
  left: 606.18px;
  width: 30.07px;
}

.header-word .menu-word .left-info div:nth-child(2).active:hover~.slide {
  left: 82.20px;
  width: 63.98px;
}

.header-word .menu-word .left-info div:nth-child(3).active:hover~.slide {
  left: 146.12px;
  width: 82.45px;
}

.header-word .menu-word .left-info div:nth-child(4).active:hover~.slide {
  left: 228.63px;
  width: 110.88px;
}

.header-word .menu-word .left-info div:nth-child(5).active:hover~.slide {
  left: 339.5px;
  width: 88.66px;
}

.header-word .menu-word .left-info div:nth-child(6).active:hover~.slide {
  left: 428.16px;
  width: 78.80px;
}

.header-word .menu-word .left-info div:nth-child(7).active:hover~.slide {
  left: 506.95px;
  width: 86.27px;
}

.header-word .menu-word .left-info div:nth-child(8).active:hover~.slide {
  left: 593.22px;
  width: 55.98px;
}

.header-word .menu-word .right-info {
  display: flex;
  flex-direction: row;
}

.header-word .menu-word .right-info button {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  height: 28px;
  margin: 4px;
  padding: 0 6px;
}

.header-word .menu-word .right-info button img {
  width: 28px;
}

.header-word .menu-word .right-info button .down-arrow {
  width: 22px;
}

.header-word .menu-word .right-info button:not(:last-of-type) {
  background-color: white;
  color: rgb(24, 90, 189);
  border: 1px solid rgb(200, 198, 196);
}

.header-word .menu-word .right-info button:not(:last-of-type):hover {
  background-color: rgb(237, 235, 233);
}

.header-word .menu-word .right-info button:last-of-type {
  background-color: rgb(24, 90, 189);
  color: white;
  border: transparent;
}

.header-word .menu-word .right-info button:last-of-type:hover {
  background-color: rgb(40, 80, 184);
}

.panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 928px;
  z-index: 990;
  transform: translate(-50px);
  visibility: hidden;
  transition: 0.25s;
}

.panel .sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 160px;
  background-color: rgb(24, 90, 189);
  z-index: 991
}

.panel .sidebar img {
  width: 36px;
  height: 36px;
}

.panel .sidebar div {
  display: flex;
  align-items: center;
  padding: 0 9px 0 13px;
  margin: 0;
  flex: 1;
  transition: 0.25s;
}

.panel .sidebar div:first-child {
  margin: 20px 0;
  user-select: none;
}

.panel .sidebar div:hover {
  background-color: rgb(40, 80, 163);
}

.panel .sidebar div p {
  padding: 0 0 0 12px;
  color: white;
}

.panel .sidebar .slide2 {
  position: absolute;
  left: 2px;
  width: 3px;
  height: 32px;
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
  opacity: 0;
}

hr {
  margin: 8px 12px;
  height: 1px;
  border: 0.5px solid rgba(255, 255, 255, 0.75);
}

.panel .sidebar div.menu-item {
  width: 100%;
  height: 34px;
}

.panel .sidebar div.active {
  background-color: rgb(34, 68, 138);
}
.panel .sidebar div:nth-child(2).active~.slide2 {
  top: 78px;
  opacity: 1;
}

.panel .sidebar div:nth-child(3).active~.slide2 {
  top: 114px;
  opacity: 1;
}

.panel .sidebar div:nth-child(4).active~.slide2 {
  top: 150px;
  opacity: 1;
}

.panel .otherpart {
  position: absolute;
  left: 160px;
  top: 0;
  bottom: 0;
  width: 648px;
  background-color: white;
  z-index: 992;
}

.panel .otherpart {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.panel .otherpart .word-home-header {
  display: flex;
  justify-content: space-between;
}

.panel .otherpart .word-home-header h2 {
  font-size: 28px;
  padding: 40px 0 15px 30px;
}

.panel .otherpart .word-home-header .one-drive {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 57px 30px 0 0;
  padding: 0 0 15px 30px;
}

.panel .otherpart .word-home-header .one-drive p {
  font-size: inherit;
}

.panel .otherpart .word-home-header .one-drive p:first-child {
  margin: 1px -1px 1px 0;
  padding: 2px 0 0;
  color: #605E5C;
}

.panel .otherpart .word-home-header .one-drive p:last-child {
  color: #605E5C;
}

.panel .otherpart .word-home-header .one-drive img {
  width: 28px;
  height: 28px;
  margin-bottom: -4px;
}

.panel .otherpart p.nouveau,
.panel .otherpart p.recents {
  font-size: 16px;
  margin: 5px 0 21px 42px;
}

.panel .otherpart .pages,
.panel .otherpart .pages .page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel .otherpart .pages .page .box-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 28.66px 12px;
}

.panel .otherpart .pages .page .box-page .image-page {
  position: relative;
  width: 75.91px;
  height: 98px;
  border: 1px solid rgb(215, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0;
}

.panel .otherpart .pages .page .box-page>img {
  width: 75.91px;
  border: 1px solid rgb(215, 215, 215);
  margin: 16px 0 0;
}

.panel .otherpart .pages .page .box-page>p {
  padding: 13px 0 13px;
  margin: 0 5px;
}

.panel .otherpart .pages .page .box-page:hover {
  background-color: rgb(242, 242, 242);
}

.panel .otherpart .pages .page .box-page:hover .image-page {
  box-shadow: 0 0 2px rgb(169, 169, 169);
}

.panel .otherpart .pages .page .box-page:hover>img {
  box-shadow: 0 0 2px rgb(169, 169, 169);
}

.panel .otherpart .pages .page .box-page:hover p {
  color: rgb(44, 88, 184);
}

.panel .otherpart .documents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 16px;
}

.panel .otherpart .documents .document {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  margin: 4px 30px;
}

.panel .otherpart .documents .document:hover {
  background-color: rgb(242, 242, 242);
}

.panel .otherpart .documents .document img {
  width: 56px;
  height: 56px;
  object-fit: center;
  object-position: center;
  margin-right: 8px;
}

.panel .otherpart .documents .document .document-p {
  display: flex;
  flex-direction: column;
}

.panel .otherpart .documents .document .document-p .document-title {
  padding-bottom: 4px;
  font-size: 16px;
}

.panel .otherpart .documents .document .document-p .document-description {
  font-size: 12px;
  color: #605E5C;
}

.panel .otherpart div.more-file {
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.panel .otherpart div.more-file p.more-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(44, 88, 184);
  font-weight: 800;
}

.panel .otherpart div.more-file p.more-file:hover {
  text-decoration: underline;
}

.panel .otherpart div.more-file p.more-file img {
  width: 32px;
  height: 32px;
}