<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../../styles/safari.css">
    </head>
    <body>
        <header>
            <div class="info left-info">
                <button class="chevron">
                    <img src="../../../images/safari/icon_left-chevron.svg"
                        alt="">
                </button>
                <button class="chevron">
                    <img src="../../../images/safari/icon_right-chevron.svg"
                        alt="">
                </button>
                <button class="sidebar">
                    <img src="../../../images/safari/icon_sidebar.svg" alt="">
                </button>
            </div>
            <div class="info middle-info">
                <button class="security">
                    <img src="../../../images/safari/icon_security-grey.svg"
                        alt="">
                </button>
                <input type="text" placeholder="Recherche ou nom d'un site">
            </div>
            <div class="info right-info">
                <button class="share">
                    <img src="../../../images/safari/icon_share.svg" alt="">
                </button>
                <button class="tabs">
                    <img src="../../../images/safari/icon_tab.svg" alt="">
                </button>
            </div>
        </header>
        <main>
            <section class="favourites">
                <h2>Favoris</h2>
                <div class="websites">
                    <div class="website portfolio">
                        <img
                            src="../../../images/safari/thumbnail_portfolio.jpeg"
                            alt=""
                            class="icon">
                        <p class="title">Portfolio</p>
                    </div>
                    <div class="website portfolio-website1">
                        <img
                            src="../../../images/safari/thumbnail_frontend-mentor.jpeg"
                            alt="" class="icon">
                        <p class="title">Portfolio Site #1</p>
                    </div>
                    <div class="website portfolio-website2">
                        <img
                            src="../../../images/safari/thumbnail_frontend-mentor.jpeg"
                            alt="" class="icon">
                        <p class="title">Portfolio Site #2</p>
                    </div>
                    <div class="website portfolio-website3">
                        <img
                            src="../../../images/safari/thumbnail_frontend-mentor.jpeg"
                            alt="" class="icon">
                        <p class="title">Portfolio Site #3</p>
                    </div>
                    <a href="./Google/index.html">
                        <div class="website google-mirror">
                            <img
                                src="../../../images/safari/thumbnail_google.png"
                                alt="" class="icon">
                            <p class="title">Google (mirror)</p>
                        </div>
                    </a>
                    <a href="./YouTube/index.html">
                        <div class="website youtube-mirror">
                            <img
                                src="../../../images/safari/thumbnail_youtube.jpeg"
                                alt="" class="icon">
                            <p class="title">YouTube (mirror)</p>
                        </div>
                    </a>
                    <a href="./Twitter/index.html">
                        <div class="website twitter-mirror">
                            <img
                                src="../../../images/safari/thumbnail_twitter.jpeg"
                                alt="" class="icon">
                            <p class="title">Twitter (mirror)</p>
                        </div>
                    </a>
                </div>
            </section>
            <section class="frequently-used">
                <h2>Fréquemment consultés</h2>
                <div class="websites">
                    <a href="https://www.facebook.com/" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_facebook.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">facebook.com</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_instagram.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">instagram.com</p>
                        </div>
                    </a>
                    <a href="https://www.pinterest.fr/" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_pinterest.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">pinterest.fr</p>
                        </div>
                    </a>
                    <a href="https://www.reddit.com/" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_reddit.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">reddit.com</p>
                        </div>
                    </a>
                    <a href="https://open.spotify.com/" target="blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_spotify.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">spotify.com</p>
                        </div>
                    </a>
                    <a href="https://www.netflix.com/browse" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_netflix.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">netflix.fr</p>
                        </div>
                    </a>
                    <a href="https://www.twitch.tv/" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_twitch.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">twitch.tv</p>
                        </div>
                    </a>
                    <a href="https://discord.com" target="_blank">
                        <div class="website">
                            <img
                                src="../../../images/safari/thumbnail_discord.png"
                                alt=""
                                class="thumbnail">
                            <p class="title">discord.com</p>
                        </div>
                    </a>
                </div>
            </section>
            <section class="security">
                <h2>Rapport de confidentialité</h2>
                <div class="banner websites">
                    <img src="../../../images/safari/icon_security.svg" alt=""
                        class="shield">
                    <p class="number">7</p>
                    <p class="title">Au cours des 7 derniers jour, Safari a
                        empêché 7 traqueurs d'établir votre profil.</p>
                </div>
            </section>
        </main>
    </body>
</html>