<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Word</title>
        <link rel="stylesheet" href="../../styles/word.css">
    </head>
    <style>

	</style>
    <body>
        <header class="header-word">
            <nav class="app-word">
                <div class="left-info info">
                    <img src="../../images/word/icon_dropmenu.png" alt="the
                        menu"
                        class="drop-menu">
                    <p class="titleapp">Word</p>
                    <div class="saved">
                        <button>
                            <p>Document1</p>
                            <p>-</p>
                            <p>Enregistré</p>
                            <img
                                src="../../images/word/icon_down-arrow-white.svg"
                                alt="the white
                                down arrow">
                        </button>
                    </div>
                </div>
                <div class="middle-info info">
                    <div class="search-bar">
                        <img src="../../images/word/icon_magnifier.svg" alt="the
                            magnifier"
                            class="magnifier">
                        <input type="text" placeholder="Rechercher (option + Q)"
                            class="input-header">
                    </div>
                </div>
                <div class="right-info info">
                    <div class="image">
                        <img src="../../images/word/icon_settings.png" alt="the
                            icon of the
                            settings"
                            class="settings">
                    </div>
                    <div class="user">
                        <button class="username">YD</button>
                    </div>
                </div>
            </nav>
            <nav class="menu-word">
                <div class="left-info info">
                    <div class="file-word"><p>Fichier</p></div>
                    <div class="title active"><p>Accueil</p></div>
                    <div class="title"><p>Insertion</p></div>
                    <div class="title"><p>Mise en page</p></div>
                    <div class="title"><p>Référence</p></div>
                    <div class="title"><p>Révision</p></div>
                    <div class="title"><p>Affichage</p></div>
                    <div class="title"><p>Aide</p></div>
                    <div class="slide"></div>
                </div>
                <div class="right-info info">
                    <div class="comments">
                        <img src="../../images/word/icon_comment.svg"
                            alt="comment"
                            class="comment">
                        <p>Commentaires</p>
                    </div>
                    <div class="modification">
                        <img src="../../images/word/icon_modify.svg" alt=""
                            class="modification">
                        <p>Modification</p>
                        <img src="../../images/word/icon_down-arrow-blue.svg"
                            alt=""
                            class="down-arrow">
                    </div>
                    <div class="share">
                        <img src="../../images/word/icon_share.svg" alt=""
                            class="sharing">
                        <p>Partager</p>
                        <img src="../../images/word/icon_down-arrow-white.svg"
                            alt=""
                            class="down-arrow">
                    </div>
                </div>
            </nav>
        </header>
        <nav class="panel">
            <nav class="sidebar">
                <div class="close">
                    <img src="../../images/word/icon_arrow.svg" alt="The back
                        arrow.">
                    <p>Fermer</p>
                </div>
                <div class="title2 active">
                    <img src="../../images/word/icon_home.svg" alt="The home
                        icon.">
                    <p>Accueil</p>
                </div>
                <div class="title2">
                    <img src="../../images/word/icon_file.svg" alt="The news
                        icon.">
                    <p>Nouveau</p>
                </div>
                <div class="title2">
                    <img src="../../images/word/icon_folder.svg" alt="The folder
                        icon.">
                    <p>Ouvrir</p>
                </div>
                <div class="slide2"></div>
                <hr>
                <div class="menu-item"><p>Informations</p></div>
                <div class="menu-item"><p>Enregistrer sous</p></div>
                <div class="menu-item"><p>Exporter</p></div>
                <div class="menu-item"><p>Imprimer</p></div>
                <div class="menu-item"><p>Partager</p></div>
                <div class="menu-item"><p>À propos</p></div>
            </nav>
            <nav class="otherpart">
                <div class="word-home-header">
                    <h2>Accueil</h2>
                    <div class="one-drive">
                        <p>Les nouveaux documents sont enregistrés dans :</p>
                        <img src="../../images/word/icon_one-drive.svg" alt="the
                            one drive icon." class="onedrive">
                        <p style="font-weight: 800;">One Drive Entreprise</p>
                    </div>
                </div>
                <p class="nouveau">Nouveau</p>
                <div class="pages">
                    <div class="page">
                        <div class="box-page">
                            <div class="image-page">
                                <img src="../../images/word/icon_cross.svg"
                                    alt="The cross icon.">
                            </div>
                            <p>Nouveau document ...</p>
                        </div>
                    </div>
                    <div class="page">
                        <div class="box-page">
                            <img src="../../images/word/thumbnail_template.png"
                                alt="thumbnail of the second template.">
                            <p>Notes générales</p>
                        </div>
                    </div>
                    <div class="page">
                        <div class="box-page">
                            <img src="../../images/word/thumbnail_template2.png"
                                alt="thumbnail of the third template.">
                            <p>Document de style A...</p>
                        </div>
                    </div>
                </div>
                <p class="recents">Récents</p>
                <div class="documents">
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document2.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document3.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document4.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document5.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document6.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document7.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document8.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document9.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="../../images/word/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document10.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                </div>
                <div class="more-file">
                    <p class="more-file">Afficher plus de fichiers <img src="../../images/word/icon_right-arrow-blue.svg"
                        alt="The right blue arrow."></p>
                    
                </div>
            </nav>
        </nav>
        <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
        <script>
			const input = document.querySelector(".input-header");
			const searchBar = document.querySelector(".search-bar");

			input.onfocus = function () {
				input.placeholder = "Rechercher";
				input.style.backgroundColor = "white";
				searchBar.style.backgroundColor = "white";
			}

			input.onblur = function () {
				input.placeholder = "Rechercher (option + Q)"
				input.style.backgroundColor = "rgb(203, 211, 229)";
				searchBar.style.backgroundColor = "rgb(203, 211, 229)";	
			}

			searchBar.onmouseover = function () {
				if (document.activeElement == input) {
				} else {
				input.style.backgroundColor = "rgb(213, 222, 241)";
				searchBar.style.backgroundColor = "rgb(213, 222, 241)";
				}
			}

			searchBar.onmouseout = function () {
				if (document.activeElement == input) {
					input.placeholder = "Rechercher";
					input.style.backgroundColor = "white";
					searchBar.style.backgroundColor = "white";
				} else {
					input.style.backgroundColor = "rgb(203, 211, 229)";
					searchBar.style.backgroundColor = "rgb(203, 211, 229)";
				}
			}
			
			$(document).ready(function() {
				$(".title").on("click", function() {
					$(this).siblings().removeClass('active');
					$(this).addClass("active");
				})
			})

            $(document).ready(function() {
				$(".title2").on("click", function() {
					$(this).siblings().removeClass('active');
					$(this).addClass("active");
				})
			})

            const close = document.querySelector(".close");
            const panel = document.querySelector(".panel");
            const file = document.querySelector(".file-word");

            file.addEventListener("click", function() {
                panel.style.visibility = "visible";
                panel.style.transform = "translate(0)";
                panel.style.opacity = "1";
            })
            
            close.addEventListener("click", function() {
                panel.style.visibility= "hidden";
                panel.style.transform = "translate(-50px)";
                panel.style.opacity = "0";
            })
		</script>
    </body>
</html>