<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Word</title>
        <link rel="stylesheet" href="./../../styles/word.css">
    </head>
    <style>
        .header-word .tabs-word {
            position: absolute;
            top: 84px;
            height: 40px;
            background-color: rgb(243, 242, 241);
        }

        .header-word .tabs-word > div {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .header-word .tabs-word .box {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 6px
        }

        .header-word .tabs-word .box:has(div) {
            padding: 0 0 0 6px;
        }

        .header-word .tabs-word .box:has(div) + .separator {
            margin: 0 0 0 8px;
        }

        .header-word .tabs-word .box img.too-small {
            width: 36px;
            height: 36px;
        }
        
        .header-word .tabs-word .box img:not(.too-small) {
            width: 28px;
            height: 28px;
        }

        .header-word .tabs-word .box img.too-medium {
            width: 32px;
        }

        .header-word .tabs-word .box > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: -3px;
        }

        .header-word .tabs-word .box p {
            font-size: 14px;
        }

        .header-word .tabs-word .box > div > .down-arrow {
            width: 12px;
        }

        .header-word .tabs-word .separator {
            width: 1px;
            height: 32px;
            border: none;
            background-color: rgb(200, 198, 196);
            margin: 4px;
        }


	</style>
    <body>
        <header class="header-word">
            <nav class="app-word">
                <div class="left-info info">
                    <img src="./../../images/word/panel&header/icon_dropmenu.png" alt="the
                        menu"
                        class="drop-menu">
                    <p class="titleapp">Word</p>
                    <div class="saved">
                        <button>
                            <p>Document1</p>
                            <p>-</p>
                            <p>Enregistré</p>
                            <img
                                src="./../../images/word/common/icon_down-arrow-white.svg"
                                alt="the white
                                down arrow">
                        </button>
                    </div>
                </div>
                <div class="middle-info info">
                    <div class="search-bar">
                        <img src="./../../images/word/common/icon_magnifier.svg" alt="the
                            magnifier"
                            class="magnifier">
                        <input type="text" placeholder="Rechercher (option + Q)"
                            class="input-header">
                    </div>
                </div>
                <div class="right-info info">
                    <div class="image">
                        <img src="./../../images/word/panel&header/icon_settings.png" alt="the
                            icon of the
                            settings"
                            class="settings">
                    </div>
                    <div class="user">
                        <button class="username">YD</button>
                    </div>
                </div>
            </nav>
            <nav class="menu-word">
                <div class="left-info">
                    <div>
                        <div class="file-word"><p>Fichier</p></div>
                        <div class="title active"><p>Accueil</p></div>
                        <div class="title"><p>Insertion</p></div>
                        <div class="title"><p>Mise en page</p></div>
                        <div class="title"><p>Référence</p></div>
                        <div class="title"><p>Révision</p></div>
                        <div class="title"><p>Affichage</p></div>
                        <div class="title"><p>Aide</p></div>
                        <div class="slide"></div>
                    </div>
                </div>
                <div class="right-info info">
                    <button class="comments">
                        <img src="./../../images/word/panel&header/icon_comment.svg"
                            alt="comment"
                            class="comment">
                        <p>Commentaires</p>
                    </button>
                    <button class="catch-up">
                        <img src="./../../images/word/panel&header/icon_catch-up.svg" alt="The
                            catch-up icon." class="catch-up">
                        <p>Rattrapage</p>
                    </button>
                    <button class="modification">
                        <img src="./../../images/word/panel&header/icon_modify.svg" alt="The
                            modify icon."
                            class="modification">
                        <p>Modification</p>
                        <img
                            src="./../../images/word/common/icon_down-arrow-blue.svg"
                            alt="The down arrow icon."
                            class="down-arrow">
                    </button>
                    <button class="share">
                        <img src="./../../images/word/panel&header/icon_share.svg" alt=""
                            class="sharing">
                        <p>Partager</p>
                        <img
                            src="./../../images/word/common/icon_down-arrow-white.svg"
                            alt=""
                            class="down-arrow">
                    </button>
                </div>
            </nav>
            <nav class="tabs-word">
                <div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_undo-arrow.svg"
                            alt="The back arrow." class="undo-arrow">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_clippath.svg"
                            alt="The back arrow." class="undo-arrow too-small">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_formatter.svg"
                            alt="The formatter icon." class="formatter too-small">
                    </div>
                    <div class="separator"></div>
                    <select class="font-family">
                        <option value="typo1">Calibri (corps)</option>
                    </select>
                    <select class="font-size">
                        <option value="size1">12</option>
                    </select>
                    <div class="box">
                        <img src="./../../images/word/home/icon_larger.svg"
                            alt="The larger icon." class="larger">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_smaller.svg"
                            alt="The smaller icon." class="smaller">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_bold.svg" alt="The
                            bold icon." class="bold">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_italic.svg"
                            alt="The italic icon." class="italic">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_underlined.svg"
                            alt="The underlined icon." class="underlined">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_highlighter.svg"
                            alt="The highlighter icon." class="highlighter too-small">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_colors.svg"
                            alt="The colors icon." class="colors too-small">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_color-erase.svg"
                            alt="The color-erase icon." class="color-erase too-small">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/common/icon_menu.svg" alt="The
                            drop menu icon." class="menu">
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_bullets.svg"
                            alt="The bullet list icon." class="bullets too-medium">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_numbers.svg"
                            alt="The list numbering icon." class="numbers too-medium">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="box">
                        <img src="./../../images/word/common/icon_increase.svg"
                            alt="The increase indent icon." class="increase  too-medium">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/common/icon_decrease.svg"
                            alt="The decrease icon." class="decrease too-medium">
                    </div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_justify.svg"
                            alt="The list justify icon." class="justify">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_apply-style.svg"
                            alt="The applying styles icon." class="apply too-small">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/common/icon_search.svg"
                            alt="The search icon." class="search too-small">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_reuse.svg"
                            alt="The reuse icon." class="reuse too-small">
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_mic.svg"
                            alt="The mic icon." class="mic too-small">
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/common/icon_editor.svg"
                            alt="The editor icon." class="editor too-small">
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/home/icon_conceptor.svg"
                            alt="The conceptor icon." class="conceptor too-small">
                        <p>Concepteur</p>
                        <div class="more">
                            <img src="./../../images/word/common/icon_down-arrow.svg"
                                alt="The down arrow." class="down-arrow">
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="box">
                        <img src="./../../images/word/common/icon_menu.svg"
                            alt="The drop menu icon." class="menur">
                    </div>
                    <div class="separator"></div>
                </div>
                <div class="insertion"></div>
                <div class="formatting"></div>
                <div class="reference"></div>
                <div class="review"></div>
                <div class="display"></div>
                <div class="help"></div>
            </nav>
        </header>
        <nav class="panel">
            <nav class="sidebar">
                <div class="close">
                    <img src="./../../images/word/panel&header/icon_arrow.svg" alt="The back
                        arrow.">
                    <p>Fermer</p>
                </div>
                <div class="title2 active">
                    <img src="./../../images/word/panel&header/icon_home.svg" alt="The
                        icon.">
                    <p>Accueil</p>
                </div>
                <div class="title2">
                    <img src="./../../images/word/panel&header/icon_file.svg" alt="The news
                        icon.">
                    <p>Nouveau</p>
                </div>
                <div class="title2">
                    <img src="./../../images/word/panel&header/icon_folder.svg" alt="The folder
                        icon.">
                    <p>Ouvrir</p>
                </div>
                <div class="slide2"></div>
                <hr class="word">
                <div class="menu-item"><p>Informations</p></div>
                <div class="menu-item"><p>Enregistrer sous</p></div>
                <div class="menu-item"><p>Exporter</p></div>
                <div class="menu-item"><p>Imprimer</p></div>
                <div class="menu-item"><p>Partager</p></div>
                <div class="menu-item"><p>À propos</p></div>
            </nav>
            <nav class="otherpart">
                <div class="word-header">
                    <h2>Accueil</h2>
                    <div class="one-drive">
                        <p>Les nouveaux documents sont enregistrés dans :</p>
                        <img src="./../../images/word/panel&header/icon_one-drive.svg" alt="the
                            one drive icon." class="onedrive">
                        <p style="font-weight: 800;">One Drive Entreprise</p>
                    </div>
                </div>
                <p class="nouveau">Nouveau</p>
                <div class="pages">
                    <div class="page">
                        <div class="box-page">
                            <div class="image-page">
                                <img src="./../../images/word/panel&header/icon_cross.svg"
                                    alt="The cross icon.">
                            </div>
                            <p>Nouveau document ...</p>
                        </div>
                    </div>
                    <div class="page">
                        <div class="box-page">
                            <img src="./../../images/word/panel&header/thumbnail_template.png"
                                alt="thumbnail of the second template.">
                            <p>Notes générales</p>
                        </div>
                    </div>
                    <div class="page">
                        <div class="box-page">
                            <img src="./../../images/word/panel&header/thumbnail_template2.png"
                                alt="thumbnail of the third template.">
                            <p>Document de style A...</p>
                        </div>
                    </div>
                </div>
                <p class="recents">Récents</p>
                <div class="documents">
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document2.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document3.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document4.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document5.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document6.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document7.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document8.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document9.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                    <div class="document">
                        <img src="./../../images/word/panel&header/icon_document.svg" alt="The
                            Word icon." class="word-icon">
                        <div class="document-p">
                            <p class="document-title">Document10.docx</p>
                            <p class="document-description">Yohann DI CRESCENZO
                                OneDrive de Ecoles Galiléo Global Education
                                France</p>
                        </div>
                    </div>
                </div>
                <div class="more-file">
                    <p class="more-file">Afficher plus de fichiers <img
                            src="./../../images/word/panel&header/icon_right-arrow-blue.svg"
                            alt="The right blue arrow."></p>

                </div>
            </nav>
        </nav>
        <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
        <script>
			const input = document.querySelector(".input-header");
			const searchBar = document.querySelector(".search-bar");

			input.onfocus = function () {
				input.placeholder = "Rechercher";
				input.style.backgroundColor = "white";
				searchBar.style.backgroundColor = "white";
			}

			input.onblur = function () {
				input.placeholder = "Rechercher (option + Q)"
				input.style.backgroundColor = "rgb(203, 211, 229)";
				searchBar.style.backgroundColor = "rgb(203, 211, 229)";	
			}

			searchBar.onmouseover = function () {
				if (document.activeElement == input) {
				} else {
				input.style.backgroundColor = "rgb(213, 222, 241)";
				searchBar.style.backgroundColor = "rgb(213, 222, 241)";
				}
			}

			searchBar.onmouseout = function () {
				if (document.activeElement == input) {
					input.placeholder = "Rechercher";
					input.style.backgroundColor = "white";
					searchBar.style.backgroundColor = "white";
				} else {
					input.style.backgroundColor = "rgb(203, 211, 229)";
					searchBar.style.backgroundColor = "rgb(203, 211, 229)";
				}
			}
			
			$(document).ready(function() {
				$(".title").on("click", function() {
					$(this).siblings().removeClass('active');
					$(this).addClass("active");
				})
			})

            $(document).ready(function() {
				$(".title2").on("click", function() {
					$(this).siblings().removeClass('active');
					$(this).addClass("active");
				})
			})

            const close = document.querySelector(".close");
            const panel = document.querySelector(".panel");
            const file = document.querySelector(".file-word");

            file.addEventListener("click", function() {
                panel.style.visibility = "visible";
                panel.style.transform = "translate(0)";
                panel.style.opacity = "1";
            })
            
            close.addEventListener("click", function() {
                panel.style.visibility= "hidden";
                panel.style.transform = "translate(-50px)";
                panel.style.opacity = "0";
            })
		</script>
    </body>
</html>